// --------------------------------------------------------------------------
// Extra
// --------------------------------------------------------------------------

.extra {
	margin: 0 0 -30rem;
}


.extra__item {
	display: block;
	margin: 0 0 60rem;
	img {
		display: block;
		width: 100%;
	}
}