// --------------------------------------------------------------------------
// Join
// --------------------------------------------------------------------------

.join {
	padding: 50rem 0 100rem;
}


.join__desc {
	max-width: 1000rem;
	margin: 0 auto;

	font-size: 16rem;
	line-height: 24rem;
	font-weight: 300;
	color: #959595;

	padding: 0 0 30rem;

}

.join__heading {
	display: block;
	font-size: 72rem;
	line-height: 1;
	font-weight: 300;
	margin: 0 0 30rem;
	color: #000;

	@include breakpointMax(xl) {
		font-size: 64rem;
	}
	@include breakpointMax(lg) {
		font-size: 56rem;
	}
	@include breakpointMax(md) {
		font-size: 48rem;
	}
	@include breakpointMax(sm) {
		font-size: 30rem;
	}
}

.join__hashtag {
	font-size: 24rem;
	line-height: 1;
	font-weight: 400;
	color: #959595;
	margin: 0 0 40rem;
	text-transform: uppercase;
	display: block;
	max-width: 90%;
	@include breakpointMax(lg) {
		font-size: 20rem;
	}
}

.join__text {
	margin: 0 0 30rem;
}

.join__grid {
	margin: 0 0 10rem;

	@include breakpointMax(md) {
		// margin: 0 -20rem 10rem;
		margin: 0 0 10rem;
		.row {
			margin: 0 -10rem -20rem;
			& > [class^="col-"] {
				padding: 0 10rem 20rem;
			}
		}
	}
}

// -----

.join__item {
	position: relative;
	display: block;
	margin: 0 0 30rem;
	transition: 0.25s;
	&--widget {
		.join__item-acc {
			position: relative;
			background: #fff;
		}
		.join__item-acc-caption {
			b {
				color: #000;
			}
		}
	}
	&:hover {
		box-shadow: 0 5rem 25rem rgba(0,0,0,0.2);
		.join__item-image img {
			transform: scale(1.1);
		}
	}

	@include breakpointMax(md) {
		margin: 0;
	}
}

.join__item-acc {
	display: flex;
	align-items: center;
	padding: 8rem;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

.join__item-acc-image {
	flex: 0 0 44rem;
	width: 44rem;
	height: 44rem;
	background: #fff;
	padding: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: -4rem 10rem -4rem 0;
	img {
		display: block;
		max-width: 100%;
		max-height: 100%;
	}
}

.join__item-acc-caption {
	margin: 0 10rem 0 0;
	font-size: 14rem;
	line-height: 16rem;
	font-weight: 400;
	color: #999999;
	b {
		display: block;
		font-weight: 600;
		color: #fff;
	}
}

.join__item-acc-btn {
	transition: 0.25s;
	display: inline-block;
	vertical-align: top;
	margin: 0 0 0 auto;
	font-size: 13rem;
	line-height: 16rem;
	font-weight: 600;
	text-decoration: none;
	padding: 6rem 10rem;
	background: #3195F4;
	color: #fff;
	border-radius: 3rem;
	text-align: center;
	&:hover {
		background: #5fb1ff;
		color: #fff;
		text-decoration: none;
	}

	@include breakpointMax(xl) {
		font-size: 12rem;
	}

}

.join__item-widget {
	img {
		display: block;
		width: 100%;
	}
}


.join__item-image {
	background: #EBEBEB;
	margin: 0;
	position: relative;
	overflow: hidden;
	max-height: 237rem;
	&:before {
		content: '';
		float: left;
		padding: 65% 0 0;
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 45%;
		background: linear-gradient(to bottom, rgba(0,0,0,0.85) 0%,rgba(255,255,255,0) 100%);
	}
	img {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: 0.7s;
	}
}

.join__item-desc {
	padding: 20rem 20rem 20rem 30rem;
}


.join__item-title {
	display: block;
	font-size: 16rem;
	line-height: 24rem;
	font-weight: 400;
	color: #000;
	margin: 0;
	a {
		display: block;
		color: #000;
		text-decoration: none;
		&:hover {
			color: #E30613;
		}
	}
}

.join__item-tags {
	font-size: 16rem;
	line-height: 24rem;
	font-weight: 400;
	white-space: normal;

	a {
		display: inline-block;
		vertical-align: top;
		color: #acacac;
		text-decoration: none;
		margin: 0;
		&:hover {
			color: #000;
		}
	}
}

.join__item-info {
	border-top: 1px solid #E5E5E5;
	margin: 20rem 0 0;
	padding: 20rem 0 0;
	list-style: none;
	display: flex;
	align-items: center;
	white-space: nowrap;
	font-size: 14rem;
	line-height: 24rem;
	font-weight: 700;
	color: #969AA3;
	& > li {
		margin: 0 22rem 0 0;
	}
	[class^="icon-"] {
		margin: 0 6rem 0 0;
	}
}

// -----

.join__control {
	text-align: center;
	.btn {
		width: 100%;
		max-width: 305rem;
	}
}