// --------------------------------------------------------------------------
// Popups
// --------------------------------------------------------------------------

.popup {
	width: 100%;
	max-width: 792rem;
	background: #fff;
	box-shadow: 0 0 32px rgba(0, 0, 0, 0.2);
	position: relative;
	
}


.popup__close {
	border: none;
	padding: 0;
	background: none;
	position: absolute;
	top: 32rem;
	right: 50rem;
	color: #e30613;
	cursor: pointer;
	z-index: 10;
}



// --------------------------------------------------------------------------
// Popups - Location
// --------------------------------------------------------------------------


.location {
	padding: 25rem 50rem 40rem;
	@include breakpointMax(lg) {
		padding: 25rem;
	}
	@include breakpointMax(md) {
		padding: 20rem;
	}
}


.location__close {
	border: none;
	padding: 0;
	background: none;
	position: absolute;
	top: 32rem;
	right: 50rem;
	color: #e30613;
	cursor: pointer;
	z-index: 10;

	@include breakpointMax(lg) {
		top: 28rem;
		right: 25rem;
	}
	@include breakpointMax(md) {
		right: 20rem;
		top: 24rem;
	}
}


.location__heading {
	position: relative;
	display: block;
	font-size: 18rem;
	line-height: 26rem;
	font-weight: 600;
	text-transform: uppercase;

	padding: 0 0 25rem 24rem;
	margin: 0 0 16rem;
	border-bottom: 1px solid #E5E5E5;

	[class^="icon-"] {
		position: absolute;
		top: 5rem;
		left: 0;
		color: #E30613;
		margin: 0 10rem 0 0;
	}

	@include breakpointMax(lg) {
		padding-right: 30rem;
	}
}


.location__cities {
	margin: 0;
	padding: 0 0 16rem;
	list-style: none;
	display: flex;
	flex-wrap: wrap;

	font-size: 15rem;
	line-height: 20rem;
	font-weight: 300;

	border-bottom: 1px solid #E5E5E5;

	& > li {
		width: 25%;
	}

	@include breakpointMax(lg) {
		& > li {
			width: 33.333%;
		}
	}

	@include breakpointMax(md) {
		& > li {
			width: 50%;
		}
	}
}

.location__cities-link {
	display: block;
	color: #e30613;
	text-decoration: none;
	padding: 10rem 24rem;
	transition: 0.25s;
	&:hover, &.is-active {
		text-decoration: none;
		background: #FEF2F3;
		color: #e30613;
	}

	@include breakpointMax(md) {
		padding: 10rem;
	}
}


.location__form {
	
}

.location__label {
	display: block;
	padding: 25rem 24rem;
	margin: 0;
	font-size: 15rem;
	line-height: 22rem;
	font-weight: 300;
	color: #000;
}

.location__field {
	position: relative;
	margin: 0 0 30rem;
}

.location__btn {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 50rem;
	text-align: center;
	border: none;
	padding: 0 0 0 10rem;
	background: none;
	color: #E30613;
	cursor: pointer;
}

.location__input {
	margin: 0;
	display: block;
	width: 100%;
	border: 1px solid #E5E5E5;
	background: #fff;
	font: 300 15rem/18rem $fontBase;
	color: #000;
	padding: 15rem 20rem 15rem 50rem;
	&::placeholder {
		color: #acacac;
	}
}

.location__control {
	display: flex;
	align-items: center;
	justify-content: center;

	.btn {
		min-width: 205rem;
	}

	@include breakpointMax(md) {
		flex-wrap: wrap;
	}
}


.location__choice {
	font-size: 15rem;
	line-height: 20rem;
	font-weight: 300;
	color: #959595;
	margin: 0 50rem 0 0;
	text-align: right;
	b {
		display: block;
		font-size: 24rem;
		line-height: 30rem;
		font-weight: 300;
		color: #000;
	}

	@include breakpointMax(md) {
		text-align: center;
		margin: 0 0 20rem;
	}
}