// --------------------------------------------------------------------------
// Regions
// --------------------------------------------------------------------------


.regions {
	padding: 45rem 0 0;
	margin: 0 0 80rem;
	@include breakpointMax(lg) {
		margin: 0 0 50rem;
		padding: 0;
	}
}

.regions__heading {
	display: block;
	font-size: 24rem;
	line-height: 1;
	font-weight: 700;
	letter-spacing: -0.2rem;
	text-transform: uppercase;
	margin: 0 0 20rem;
	color: #000;

	@include breakpointMax(lg) {
		font-size: 20rem;
	}
}


.regions__list {
	margin: 0;
	padding: 0;
	list-style: none;
	& > li {
		padding: 34rem 0;
		border-bottom: 1px solid #E5E5E5;
	}

	@include breakpointMax(lg) {
		& > li {
			padding: 26rem 0;
		}
	}
}


.regions__item {

	font-size: 16rem;
	line-height: 30rem;
	font-weight: 400;
	font-style: normal;



	b {
		font-weight: 700;
	}
	mark {
		color: #e30613;
	}

	.row {
		margin: 0 -20rem;
		& > [class^="col-"] {
			padding: 0 20rem;
		}
	}

	@include breakpointMax(lg) {
		font-size: 15rem;
		line-height: 22rem;
	}
}


.regions__item-title {
	display: block;
	font-size: 20rem;
	line-height: 1;
	font-weight: 700;
	margin: 0 0 27rem;

	@include breakpointMax(lg) {
		font-size: 18rem;
		margin: 0 0 20rem;
	}
}

.regions__item-list {
	margin: 0;
	padding: 0;
	list-style: none;
	letter-spacing: 0.4rem;
}

.regions__item-hotline {
	font-size: 24rem;
	line-height: 1;
	color: #000;
	font-weight: 700;
	margin: 0;
	display: block;
	padding: 8rem 0;
	small {
		margin: 0 0 8rem;
		display: block;
		font-size: 14rem;
		font-weight: 400;
	}
}