// --------------------------------------------------------------------------
// Request
// --------------------------------------------------------------------------

.request {
	padding: 75rem 0 95rem;
	position: relative;
	z-index: 1;

	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		width: 100vw;
		background: #F7F7F7;
		margin: 0 0 0 -50vw;
		z-index: -1;
	}

	@include breakpointMax(lg) {
		padding: 45rem 0;
	}
}


.request__heading {
	font-size: 30rem;
	line-height: 1;
	font-weight: 700;
	color: #000;
	margin: 0 0 45rem;
	text-align: center;
	text-transform: uppercase;

	@include breakpointMax(lg) {
		font-size: 24rem;
		margin: 0 0 25rem;
	}
}


.request__form {
	max-width: 1000rem;
	margin: 0 auto;

	.row {
		margin: 0 -10rem;
		& > [class^="col-"] {
			padding: 0 10rem;
		}
	}
	.btn {
		width: 100%;
		max-width: 490rem;
		display: block;
		margin: 20rem auto;
	}

	.ui-caption {
		margin: 0;
	}
}