// --------------------------------------------------------------------------
// Support
// --------------------------------------------------------------------------

.support {
	padding: 45rem 50rem 40rem;
	margin: 0 0 80rem;
	flex: 1;
	&--grey {
		background: #F7F7F7;
	}

	@include breakpointMax(lg) {
		padding-left: 20rem;
		padding-right: 20rem;
		margin: 0 0 50rem;
	}
	@include breakpointMax(md) {
		margin: 0 -20rem 20rem;
	}

}

.support__heading {
	display: block;
	font-size: 24rem;
	line-height: 1;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 0 14rem;
	color: #000;

	@include breakpointMax(lg) {
		font-size: 20rem;
	}
}


.support__list {
	margin: 0;
	padding: 0;
	list-style: none;
	& > li {
		padding: 27rem 0;
		border-bottom: 1px solid #DEDEDE;
		&:last-child {
			border: none;
			padding-bottom: 0;
		}
	}
}


.support__item {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	padding: 0 168rem 0 0;

	min-height: 54rem;
	
	[class^="icon-"] {
		margin: 0 10rem 0 0;
		color: #E30613;
		top: -1rem;
	}

	@include breakpointMax(xl) {
		padding: 0 60rem 0 0;
	}
	
}

.support__item-title {
	display: block;
	font-size: 18rem;
	line-height: 1;
	font-weight: 700;
	margin: 0;
	width: 100%;
}

.support__item-text {
	display: block;
	padding: 10rem 0 0;
	margin: 0;
	font-size: 14rem;
	line-height: 17rem;
	color: #707070;
	width: 100%;
}


.support__item-btn {
	display: block;
	width: 158rem;
	position: absolute;
	top: 50%;
	right: 0;

	margin: -25rem 0 0;

	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #000;

	font-size: 11rem;
	line-height: 13rem;
	font-weight: 600;
	letter-spacing: 0.4rem;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;

	text-align: center;
	padding: 10rem 20rem;

	height: 49rem;

	[class^="icon-"] {
		display: none;
	}

	&:hover {
		text-decoration: none;
		border-color: #E30613;
		color: #E30613;
	}

	@include breakpointMax(xl) {
		width: 50rem;
		height: 50rem;
		text-indent: -9999px;
		border-color: #E30613;
		color: transparent;
		font-size: 0;
		overflow: hidden;
		[class^="icon-"] {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			color: #E30613;
		}
	}
}



// ------


.support__services {
	margin: 0;
	padding: 15rem 0;
	list-style: none;

	font-size: 16rem;
	line-height: 20rem;
	font-weight: 400;

	& > li {
		padding: 15rem 0;
		// margin: 0 0 30rem;
		&:last-child {
			margin: 0;
		}
	}
}


.support__services-link {
	display: block;
	position: relative;
	color: #000;
	text-decoration: none;
	padding: 5rem 0 5rem 70rem;
	transition: 0.25s;
	u {
		text-decoration: none;
		border-bottom: 1px solid #B9B9B9;
	}
	[class^="icon-"] {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0,-50%);
	}

	&:hover {
		text-decoration: none;
		color: #E30613;
		u {
			border-color: #E30613;
		}
	}
}