// --------------------------------------------------------------------------
// Txt
// --------------------------------------------------------------------------

.txt {
	padding: 45rem 0;

	font-size: 16rem;
	line-height: 24rem;
	font-weight: 300;
	color :#959595;

	.container-fluid {
		max-width: 1040px;
	}

	.row {
		margin: 0 -32rem;
		& > [class^="col-"] {
			padding: 0 32rem;
		}
	}

	@include breakpointMax(xl) {
		.row {
			margin: 0 -15rem;
			& > [class^="col-"] {
				padding: 0 15rem;
			}
		}
	}

	@include breakpointMax(md) {
		padding: 45rem 0 15rem;
	}
}

.txt__heading {
	display: block;
	font-size: 57rem;
	line-height: 1.175;
	font-weight: 300;
	margin: 0 0 64rem;
	color: #000;
	text-transform: uppercase;

	@include breakpointMax(xl) {
		font-size: 50rem;
	}
	@include breakpointMax(lg) {
		font-size: 43rem;
		margin: 0 0 30rem;
	}
	@include breakpointMax(md) {
		font-size: 36rem;
	}
	@include breakpointMax(sm) {
		font-size: 30rem;
	}
}

.txt__image {
	margin: 0 0 64rem;
	img {
		display: block;
		width: 100%;
	}
	@include breakpointMax(lg) {
		margin: 0 0 30rem;
	}
	@include breakpointMax(sm) {
		margin: 0 -20rem 30rem;
	}
}

.txt__text {
	position: relative;
	display: block;
	margin: 0 24rem 24rem 0;
	&--line {
		padding: 0 0 0 172rem;
		padding: 0 0 0 30%;
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 12rem;
			left: 0;
			width: 22%;
			height: 1px;
			background: #E30613;
		}
	}

	@include breakpointMax(md) {
		&--line {
			padding: 0;
			&:after {
				display: none;
			}
		}
	}
}