include _mixins
doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="theme-color" content="#000")
        meta(name="format-detection" content="telephone=no")
        meta(http-equiv="X-UA-Compatible" content="IE=Edge")

        meta(name="robots" content="noindex, nofollow")

        title= title || 'Page name'

        link(rel="shortcut icon" href="images/favicon.ico")

        //- <!-- Critical CSS -->

        include _loadCss
        

    body(class=bodyClass)

        .app

            // Nav Fixed :: Start
            nav.nav-fixed.js-nav-fixed
                button.nav-fixed__trigger
                ul.nav-fixed__menu
                    li
                        a(href="#").nav-fixed__link.nav-fixed__link--hightlight
                            span.nav-fixed__link-icon
                                +sprite('icon-nav-01')
                            span.nav-fixed__link-text Подбор черепицы
                    li
                        a(href="#").nav-fixed__link
                            span.nav-fixed__link-icon
                                +sprite('icon-nav-02')
                            span.nav-fixed__link-text ...
                    li
                        a(href="#").nav-fixed__link
                            span.nav-fixed__link-icon
                                +sprite('icon-nav-03')
                            span.nav-fixed__link-text ...
                    li
                        a(href="#").nav-fixed__link
                            span.nav-fixed__link-icon
                                +sprite('icon-nav-04')
                            span.nav-fixed__link-text ...
                    li
                        a(href="#").nav-fixed__link
                            span.nav-fixed__link-icon
                                +sprite('icon-nav-05')
                            span.nav-fixed__link-text ...
                    li
                        a(href="#").nav-fixed__link
                            span.nav-fixed__link-icon
                                +sprite('icon-nav-06')
                            span.nav-fixed__link-text ...
            // Nav :: Fixed :: End

            // Header :: Start
            header.header
                block header
                    include _header-inner
            // Header :: End

            // Main :: Start
            main.main
                block main
            
            // Main :: End

            // Footer :: Start
            footer.footer
                block footer
                    include _footer-inner
            // Footer :: End

            // Popups :: Start
            block popups
                include _popups
            // Popups :: End
            

        // Scripts :: Start
        include _loadScripts
        // Scripts :: End

