//- --------------------------------------------------------------------------
//- Footer
//- --------------------------------------------------------------------------


.footer__panel.footer__panel--dark
	.container-fluid
		.row
			

			.col-xl-auto.order-xl-2

				nav.footer__social
					a(href="#").footer__social-link
						+sprite('icon-social-fb')
					a(href="#").footer__social-link
						+sprite('icon-social-vk')
					a(href="#").footer__social-link
						+sprite('icon-social-od')
					a(href="#").footer__social-link
						+sprite('icon-social-yt')
					a(href="#").footer__social-link
						+sprite('icon-social-im')

			.col-xl-auto.order-xl-3

				nav.footer__info
					.footer__info-group
						a(href="#").footer__info-btn <span>Официальный</span> сайт Корпорации ТЕХНОНИКОЛЬ
						a(href="#").footer__info-btn Интернет-магазин ТЕХНОНИКОЛЬ
					.footer__info-group
						a(href="#").footer__info-link Правила использования сайта 
						a(href="#").footer__info-link Политика персональных данных
						a(href="#").footer__info-link Политика конфиденциальности

			.col-xl-auto.order-xl-1

				.footer__logo
					a(href="#")
						img(src="images/logo-white.svg" alt="ТЕХНОНИКОЛЬ")

				p.footer__copyright © 2010 — 2018 Корпорация ТЕХНОНИКОЛЬ

	

