//- --------------------------------------------------------------------------
//- Footer
//- --------------------------------------------------------------------------

.footer__panel.footer__panel--white
	.container-fluid

		.footer__partners

			button.footer__partners-btn
				| партнёрам
				+sprite('icon-arrow-down')
			.footer__partners-dropdown
				ul.footer__partners-menu
					li
						a(href="#").footer__partners-link
							+sprite('icon-partners-01')
							| архитектору
					li
						a(href="#").footer__partners-link
							+sprite('icon-partners-02')
							| подрядчику
					li
						a(href="#").footer__partners-link
							+sprite('icon-partners-03')
							| торговому партнёру
				.footer__partners-control
					a(href="#").btn.btn--rounded.btn--30.btn--red Вход на сайт
					a(href="#").btn.btn--rounded.btn--30.btn--red-empty Регистрация
	
.footer__panel.footer__panel--dark
	.container-fluid

		nav.footer__nav

			.row
				.col-md

					.footer__nav-group
						span.footer__nav-title
							a(href="#").footer__nav-link Каталог
						ul.footer__nav-menu
							li
								a(href="#").footer__nav-link Гибкая черепица
							li
								a(href="#").footer__nav-link Многослойная черепица
							li
								a(href="#").footer__nav-link Подкладочные ковры
							li
								a(href="#").footer__nav-link Комплектующие

				.col-md
					
					.footer__nav-group
						span.footer__nav-title
							a(href="#").footer__nav-link о продукте
						ul.footer__nav-menu
							li
								a(href="#").footer__nav-link Применение
							li
								a(href="#").footer__nav-link Сертификаты и документация

					.footer__nav-group
						span.footer__nav-title
							a(href="#").footer__nav-link информация
						ul.footer__nav-menu
							li
								a(href="#").footer__nav-link Блог
							li
								a(href="#").footer__nav-link Новости
							li
								a(href="#").footer__nav-link Рекламные материалы
							li
								a(href="#").footer__nav-link Рекламные проекты

				.col-md
					
					.footer__nav-group
						span.footer__nav-title
							a(href="#").footer__nav-link монтаж
						ul.footer__nav-menu
							li
								a(href="#").footer__nav-link Реновация старой кровли
							li
								a(href="#").footer__nav-link Монтаж гибкой битумной черепицы
							li
								a(href="#").footer__nav-link Видео-блог
							li
								a(href="#").footer__nav-link Служба качества
					
					
				.col-md
					

					.footer__nav-group
						span.footer__nav-title
							a(href="#").footer__nav-link поддержка
						ul.footer__nav-menu
							li
								a(href="#").footer__nav-link Гарантия
							li
								a(href="#").footer__nav-link Заявить претензию
							li
								a(href="#").footer__nav-link Инструкция по работе с сайтом
							li
								a(href="#").footer__nav-link Уход за кровлей

				.col-md
					
					.footer__nav-group
						
						span.footer__nav-title
							a(href="#").footer__nav-link подбор черепицы

						span.footer__nav-title
							a(href="#").footer__nav-link Расчёт кровли

						span.footer__nav-title
							a(href="#").footer__nav-link проекты готовых домов

						span.footer__nav-title
							a(href="#").footer__nav-link фотогалерея

						span.footer__nav-title
							a(href="#").footer__nav-link контакты

.footer__panel.footer__panel--white
	.container-fluid

		.footer__search
			form(action="#")
				.footer__search-field
					button.footer__search-btn
						+sprite('icon-search')
						| Поиск
					input(type="search" placeholder="ваш запрос").footer__search-input


.footer__panel.footer__panel--dark
	.container-fluid
		.row
			

			.col-xl-auto.order-xl-2

				nav.footer__social
					a(href="#").footer__social-link
						+sprite('icon-social-fb')
					a(href="#").footer__social-link
						+sprite('icon-social-vk')
					a(href="#").footer__social-link
						+sprite('icon-social-od')
					a(href="#").footer__social-link
						+sprite('icon-social-yt')
					a(href="#").footer__social-link
						+sprite('icon-social-im')

			.col-xl-auto.order-xl-3

				nav.footer__info
					.footer__info-group
						a(href="#").footer__info-btn Официальный сайт Корпорации ТЕХНОНИКОЛЬ
						a(href="#").footer__info-btn Интернет-магазин ТЕХНОНИКОЛЬ
					.footer__info-group
						a(href="#").footer__info-link Правила использования сайта 
						a(href="#").footer__info-link Политика персональных данных
						a(href="#").footer__info-link Политика конфиденциальности

			.col-xl-auto.order-xl-1

				.footer__logo
					a(href="#")
						img(src="images/logo-white.svg" alt="ТЕХНОНИКОЛЬ")

				p.footer__copyright © 2010 — 2018 Корпорация ТЕХНОНИКОЛЬ

	

