//- --------------------------------------------------------------------------
//- Header
//- --------------------------------------------------------------------------

.header__panel.header__panel--top
	.container-fluid

		.header__language
			button.header__language-trigger
				+sprite('icon-language-ru')
			.header__language-dropdown
				ul.header__language-menu
					li
						a(href="#").header__language-link.is-active
							+sprite('icon-language-ru')
							| Русский
					li
						a(href="#").header__language-link
							+sprite('icon-language-kz')
							| Қазақ Тілі
					li
						a(href="#").header__language-link
							+sprite('icon-language-ita')
							| Italiano
					li
						a(href="#").header__language-link
							+sprite('icon-language-hun')
							| Magyar
					li
						a(href="#").header__language-link
							+sprite('icon-language-est')
							| Eesti Keel
					li
						a(href="#").header__language-link
							+sprite('icon-language-lva')
							| Latviešu Valoda
					li
						a(href="#").header__language-link
							+sprite('icon-language-ltu')
							| Lietùvių Kalbà
					li
						a(href="#").header__language-link
							+sprite('icon-language-ua')
							| Українська
					li
						a(href="#").header__language-link
							+sprite('icon-language-svn')
							| Slovenský Jazyk
					li
						a(href="#").header__language-link
							+sprite('icon-language-pol')
							| Język Polski
					li
						a(href="#").header__language-link
							+sprite('icon-language-tur')
							| Türkçe
					li
						a(href="#").header__language-link
							+sprite('icon-language-rou')
							| Limba Română
					li
						a(href="#").header__language-link
							+sprite('icon-language-bgr')
							| Български Езык
					li
						a(href="#").header__language-link
							+sprite('icon-language-cze')
							| Čeština
					li
						a(href="#").header__language-link
							+sprite('icon-language-deu')
							| Deutsch
					li
						a(href="#").header__language-link
							+sprite('icon-language-eng')
							| English


		.header__location
			button(data-fancybox data-src="#popup-location").header__location-trigger
				+sprite('icon-location')
				| Москва
					
		nav.header__social
			a(href="#").header__social-link
				+sprite('icon-social-fb')
			a(href="#").header__social-link
				+sprite('icon-social-vk')
			a(href="#").header__social-link
				+sprite('icon-social-od')
			a(href="#").header__social-link
				+sprite('icon-social-yt')
			a(href="#").header__social-link
				+sprite('icon-social-im')

		p.header__phone
			small.header__phone-text горячая линия
			a(href="tel:88002000565").header__phone-link 8 800 200 05 65


.header__panel.header__panel--middle
	.container-fluid

		.header__logo
			a(href="#")
				img(src="images/logo.svg" alt="ТЕХНОНИКОЛЬ")

		nav.header__links
			a(href="#").header__links-item
				+sprite('icon-location')
				| точки продаж

			a(href="#").header__links-item
				+sprite('icon-shop')
				| интернет-магазин

		a(href="#").header__basket
			figure.header__basket-icon
				+sprite('icon-basket')
				mark 3
			p.header__basket-price
				small корзина
				| 10 200 р.
		
		.header__call
			a(href="#").btn.btn--34.btn--red
				+sprite('icon-call')
				| звонок с сайта


.header__panel.header__panel--bottom
	.container-fluid

		nav.header__nav

			button.header__nav-trigger
				span
				span
				span
			
			.header__nav-content

				ul.header__nav-menu
					li
						a(href="#").header__nav-link.header__nav-link--arrow
							| Каталог

						.header__nav-dropdown

							span.header__nav-back
								+sprite('icon-back')
								| назад

							.header__nav-group

								ul.header__nav-menu
									li
										a(href="#").header__nav-link.header__nav-link--arrow Гибкая черепица
										.header__nav-dropdown

											span.header__nav-back
												+sprite('icon-back')
												| назад

											ul.header__nav-menu
												li
													a(href="#").header__nav-link Серия Ультра
													ul.header__nav-menu.header__nav-menu--sub
														li
															a(href="#").header__nav-link Самба
														li
															a(href="#").header__nav-link Фокстрот

												li
													a(href="#").header__nav-link Серия Классик
													ul.header__nav-menu.header__nav-menu--sub
														li
															a(href="#").header__nav-link Модерн
														li
															a(href="#").header__nav-link Румба
														li
															a(href="#").header__nav-link Кадриль
														li
															a(href="#").header__nav-link Фламенко
														li
															a(href="#").header__nav-link Танго

												li
													a(href="#").header__nav-link Серия Финская
													ul.header__nav-menu.header__nav-menu--sub
														li
															a(href="#").header__nav-link Аккорд
														li
															a(href="#").header__nav-link Соната

												li
													a(href="#").header__nav-link КОНЬКОВО-КАРНИЗНАЯ ЧЕРЕПИЦА


							.header__nav-group

								ul.header__nav-menu
									li
										a(href="#").header__nav-link.header__nav-link--arrow Многослойная черепица

										.header__nav-dropdown

											span.header__nav-back
												+sprite('icon-back')
												| назад

											ul.header__nav-menu.header__nav-menu--sub
												li
													a(href="#").header__nav-link Атлантика
												li
													a(href="#").header__nav-link Континент
												li
													a(href="#").header__nav-link Вестерн
												li
													a(href="#").header__nav-link Джаз
												li
													a(href="#").header__nav-link Кантри
												li
													a(href="#").header__nav-link Ранчо

							.header__nav-group

								ul.header__nav-menu
									li
										a(href="#").header__nav-link Комплектующие для кровли
										.header__nav-dropdown

											span.header__nav-back
												+sprite('icon-back')
												| назад

											ul.header__nav-menu.header__nav-menu--sub
												li
													a(href="#").header__nav-link Планки и гвозди
												li
													a(href="#").header__nav-link Снегодержатели
												li
													a(href="#").header__nav-link Строительная химия
												li
													a(href="#").header__nav-link Планки и гвозди
												li
													a(href="#").header__nav-link Снегодержатели

							.header__nav-group

								ul.header__nav-menu
									li
										a(href="#").header__nav-link Фасадная плитка
									li
										a(href="#").header__nav-link Водосточная система
									li
										a(href="#").header__nav-link Пластиковая вентиляция
									li
										a(href="#").header__nav-link Пневмоинструмент

								
					li
						a(href="#").header__nav-link.header__nav-link--arrow
							| Монтаж

						.header__nav-dropdown

							span.header__nav-back
								+sprite('icon-back')
								| назад

							ul.header__nav-menu
								li
									a(href="#").header__nav-link Гибкая черепица
								li
									a(href="#").header__nav-link Многослойная черепица
								li
									a(href="#").header__nav-link Фасадная плитка
								li
									a(href="#").header__nav-link Водосточная система

					li
						a(href="#").header__nav-link Фотогалерея
					li
						a(href="#").header__nav-link Поддержка
					li
						a(href="#").header__nav-link Информация
					li
						a(href="#").header__nav-link Журнал
					li
						a(href="#").header__nav-link Контакты

				
				// For mobile only < 768px
				.is-md-hidden
					

					.header__nav-panel.header__nav-panel--white

						nav.header__links
							a(href="#").header__links-item
								+sprite('icon-location')
								| точки продаж
								
							a(href="#").header__links-item
								+sprite('icon-shop')
								| интернет-магазин

						a(href="#").header__basket
							figure.header__basket-icon
								+sprite('icon-basket')
								mark 3
							p.header__basket-price
								small корзина
								| 10 200 р.
						
						.header__call
							a(href="#").btn.btn--34.btn--red
								+sprite('icon-call')
								| звонок с сайта

					
					.header__nav-panel.header__nav-panel--dark

						.header__language
							button.header__language-trigger
								+sprite('icon-language-ru')
								| Русский
							.header__language-dropdown
								ul.header__language-menu
									li
										a(href="#").header__language-link.is-active
											+sprite('icon-language-ru')
											| Русский
									li
										a(href="#").header__language-link
											+sprite('icon-language-kz')
											| Қазақ Тілі
									li
										a(href="#").header__language-link
											+sprite('icon-language-ita')
											| Italiano
									li
										a(href="#").header__language-link
											+sprite('icon-language-hun')
											| Magyar
									li
										a(href="#").header__language-link
											+sprite('icon-language-est')
											| Eesti Keel
									li
										a(href="#").header__language-link
											+sprite('icon-language-lva')
											| Latviešu Valoda
									li
										a(href="#").header__language-link
											+sprite('icon-language-ltu')
											| Lietùvių Kalbà
									li
										a(href="#").header__language-link
											+sprite('icon-language-ua')
											| Українська
									li
										a(href="#").header__language-link
											+sprite('icon-language-svn')
											| Slovenský Jazyk
									li
										a(href="#").header__language-link
											+sprite('icon-language-pol')
											| Język Polski
									li
										a(href="#").header__language-link
											+sprite('icon-language-tur')
											| Türkçe
									li
										a(href="#").header__language-link
											+sprite('icon-language-rou')
											| Limba Română
									li
										a(href="#").header__language-link
											+sprite('icon-language-bgr')
											| Български Езык
									li
										a(href="#").header__language-link
											+sprite('icon-language-cze')
											| Čeština
									li
										a(href="#").header__language-link
											+sprite('icon-language-deu')
											| Deutsch
									li
										a(href="#").header__language-link
											+sprite('icon-language-eng')
											| English


						.header__location
							button(data-fancybox data-src="#popup-location").header__location-trigger
								+sprite('icon-location')
								| Москва
									
						nav.header__social
							a(href="#").header__social-link
								+sprite('icon-social-fb')
							a(href="#").header__social-link
								+sprite('icon-social-vk')
							a(href="#").header__social-link
								+sprite('icon-social-od')
							a(href="#").header__social-link
								+sprite('icon-social-yt')
							a(href="#").header__social-link
								+sprite('icon-social-im')

						p.header__phone
							small.header__phone-text горячая линия
							a(href="tel:88002000565").header__phone-link 8 800 200 05 65

