//- --------------------------------------------------------------------------
//- Load Css
//- --------------------------------------------------------------------------

<link href="http://shinglas.ru/bitrix/js/altasib/editortools/templates/spoiler_template/.default/style.css?14951244731167" type="text/css"  data-template-style="true"  rel="stylesheet" />
<link href="http://shinglas.ru/bitrix/js/altasib/editortools/templates/tabs_template/.default/style.css?14951244732774" type="text/css"  data-template-style="true"  rel="stylesheet" />
<link href="http://shinglas.ru/local/css/style.min.css?1542753164934860" type="text/css"  data-template-style="true"  rel="stylesheet" />
<link href="http://shinglas.ru/local/css/lang/ru.css?150168917556" type="text/css"  data-template-style="true"  rel="stylesheet" />
<link href="http://shinglas.ru/bitrix/js/main/core/css/core.min.css?14951244742854" type="text/css"  data-template-style="true"  rel="stylesheet" />
<link href="http://shinglas.ru/local/bitrix/templates/smartinner/styles.css?1501689175365" type="text/css"  data-template-style="true"  rel="stylesheet" />


link(rel="stylesheet" href="css/app.min.css")

