//- --------------------------------------------------------------------------
//- Popups
//- --------------------------------------------------------------------------


div(style="display: none;").popup#popup-location


	.location

		button.location__close(data-fancybox-close)
			+sprite('icon-close')

		span.location__heading
			+sprite('icon-location')
			| Выберите ваше местоположение


		ul.location__cities
			li
				a(href="#").location__cities-link Москва
			li
				a(href="#").location__cities-link Сочи
			li
				a(href="#").location__cities-link Пермь
			li
				a(href="#").location__cities-link Тула
			li
				a(href="#").location__cities-link Барнаул
			li
				a(href="#").location__cities-link Самара
			li
				a(href="#").location__cities-link Владивосток
			li
				a(href="#").location__cities-link Тюмень
			li
				a(href="#").location__cities-link Уфа
			li
				a(href="#").location__cities-link Курган
			li
				a(href="#").location__cities-link Ростов-на-Дону
			li
				a(href="#").location__cities-link Сургут
			li
				a(href="#").location__cities-link Волгоград
			li
				a(href="#").location__cities-link Санкт-Петербург
			li
				a(href="#").location__cities-link Рязань
			li
				a(href="#").location__cities-link Хабаровск
			li
				a(href="#").location__cities-link Нижний Новгород
			li
				a(href="#").location__cities-link Новосибирск
			li
				a(href="#").location__cities-link Екатеринбург
			li
				a(href="#").location__cities-link Челябинск
			li
				a(href="#").location__cities-link Краснодар
			li
				a(href="#").location__cities-link Омск
			li
				a(href="#").location__cities-link Казань
			li
				a(href="#").location__cities-link Ярославль


		.location__form
			form(action="#")
				label.location__label Не нашли свой город в списке — воспользуйтесь поиском:
				.location__field
					button.location__btn
						+sprite('icon-search')
					input(type="text" placeholder="Введите название города, региона или страны").location__input

				.location__control
					p.location__choice
						| Ваше местоположение:
						b Москва
					button.btn.btn--50.btn--red подтвердить



