//- --------------------------------------------------------------------------
//- Form
//- --------------------------------------------------------------------------


.ui-legend {
    display: block;
    font-size: 24rem;
    line-height: 28rem;
    font-weight: 400;
    margin: 0 0 20rem;
}

.ui-label {
    display: inline-block;
    vertical-align: top;
    font-size: 15rem;
    line-height: 1;
    color: #888888;
    padding: 0;
    margin: 0 0 10rem;
    .ui-select {
        margin: 0;
        vertical-align: top;
    }
    &--select {
        line-height: 28rem;
    }

    
}


.ui-validate {
    font-size: 12rem;
    line-height: 20rem;
    font-weight: 400;
    color: #E30613;
}


.ui-field {
    display: block;
    position: relative;
    margin: 0 0 30rem;
    .ui-input {
        margin: 0;
    }

    .icon-error, .icon-valid {
        position: absolute;
        top: 28rem;
        right: 22rem;
    }

    .icon-error {
        color: #F1002C;
    }
    .icon-valid {
        color: #4CC070;
    }

    &.is-error .ui-input {
        border-color: #F1002C;
    }
    &.is-focus {
        .ui-input, .ui-textarea {
            padding: 30rem 18rem 10rem;
        }
        .ui-placeholder {
            font-size: 13rem;
            padding: 8rem 18rem;
        }
    }

   
}

form input.ui-input,
.ui-input {
    transition: .25s;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    font: 400 14rem/18rem $fontBase;
    padding: 15rem 20rem;
    color: #000;
    border-radius: 0;
    -webkit-appearance: none;
    margin: 0 0 30rem;
    height: 50rem;
    backface-visibility: hidden;
    &::-webkit-input-placeholder {
        color: #959595;
    }
    &:focus {
        border-color: #414042;
    }
    &:disabled {
        border-color: #e4ebf1;
        background: #e4ebf1;
    }

}

form textarea.ui-textarea,
.ui-textarea {
    @extend .ui-input;
    min-height: 170rem;
    height: 170rem;
    min-width: 100%;
    max-width: 100%;
    display: block;
    overflow: hidden;

    @include breakpointMax(md) {
        height: 110rem;
        min-height: 110rem;
    }
}

.ui-caption {
    text-align: center;
    font-size: 14rem;
    line-height: 20rem;
    color: #000;
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.ui-select {
    display: inline-block;
    position: relative;
    z-index: 10;
    width: 100%;
    margin: 0 0 10rem;
    text-align: left;
    cursor: pointer;
    
    &.changed {
        color: #000;
    }
    &.opened {
        .jq-selectbox__trigger {
            transform: rotate(180deg);
        }
    }

    &.is-success {
        .jq-selectbox__select {
            border-color: #50d166;
        }
    }
    &.is-error {
        .jq-selectbox__select {
            border-color: #d0011b;
        }
    }
    select {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        padding: 0;
        opacity: 0; visibility: hidden;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        user-select: none;
        white-space: nowrap;
    }
    .placeholder {
        color: #888888;
    }
    .jq-selectbox__select {
        font: 400 14rem/18rem $fontBase;
        margin: 0;
        padding: 10rem 40rem 10rem 16rem;
        background: #fff;
        color: #4c4c4c;
        position: relative;
        z-index: 110;
        border: 1px solid #C7C8C9;
       
    }
    .jq-selectbox__select-text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        user-select: none;
    }
    .jq-selectbox__trigger {
        width: 40rem;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transition: 0.25s;
    }
    .jq-selectbox__trigger-arrow {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 6rem;
        height: 6rem;
        border-right: 1px solid #888888;
        border-bottom: 1px solid #888888;
        transform: rotate(45deg);
        margin: -3rem 0 0 -3rem;
    }
    .jq-selectbox__dropdown {
        position: absolute;
        top: 100% !important;
        left: 0;
        right: 0;
        background: #fff;
        font: 400 14rem/20rem $fontBase;
        border: 1px solid #CECECE;
        padding: 4rem 0;
        margin: 10rem 0 0;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
        z-index: 200;
        &:after, &:before {
            content: '';
            display: block;
            position: absolute;
            top: -7rem;
            right: 14rem;
            border-left: 6rem solid transparent;
            border-right: 6rem solid transparent;
            border-bottom: 6rem solid #CECECE;
        }
        &:after {
            z-index: 1;
        }
        &:before {
            z-index: 2;
            border-bottom-color: #fff;
            top: -6rem;
        }
        ul {
            position: relative;
            list-style: none;
            overflow: auto;
            overflow-x: hidden;
            -webkit-overflow-scrolling: touch;
        }
        li {
            padding: 6rem 16rem;
            color: #333333;
            cursor: pointer;
            &:hover {
                background: #E7E8E9;
                color: #333333;
            }
            &.sel {
                display: none !important;
            }
        }
        
    }
    .jq-selectbox__search {
        input{
            -webkit-appearance: textfield;
            &::-webkit-search-cancel-button,
            &::-webkit-search-decoration {
                -webkit-appearance: none;
            }
        }
    }
    

    &--inline {
        vertical-align: middle;
        border: none;
        width: auto;
        .jq-selectbox__select {
            padding: 5px 30rem 5rem 10rem;
            border: none;
            font-size: 14rem;
        }
        .jq-selectbox__trigger {
            width: 30rem;
        }
        .jq-selectbox__select-text {
            width: auto !important;
        }
        .jq-selectbox__dropdown {
            left: auto;
            font-size: 14rem;
            &:after, &:before {
                right: 8rem;
            }
        }
    }    
}


.ui-number {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 80rem;
    margin: 0 0 20rem;
    
    .jq-number__field {
        position: relative;
        width: 100%;
        input {
            display: block;
            width: 100%;
            -moz-appearance: textfield;
            text-align: left;
            font: 600 24rem/28rem $fontBase;
            text-align: center;
            border: 1px solid #E5E5E5;
            padding: 5rem 21rem 5rem 5rem;
            margin: 0;

        }
    }

    .jq-number__field input::-webkit-inner-spin-button,
    .jq-number__field input::-webkit-outer-spin-button {
        margin: 0;
        -webkit-appearance: none;
    }


    .jq-number__spin {
        display: block;
        position: absolute;
        right: 3rem;
        width: 17rem;
        height: 17rem;
        cursor: pointer;
        background: linear-gradient(to bottom, #e9e9e9 0%,#dadada 100%);
        color: #A4A4A4;
        &:after {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 13rem;
            line-height: 17rem;
            font-weight: 600;
        }
        &.plus {
            top: 3rem;
            &:after {
                content: '+';
            }
        }
        &.minus {
            bottom: 3rem;
            &:after {
                content: '-';
            }
        }
        &:hover {
            color: #000;
        }
    }

}



// -----


.ui-check {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 0 0 0 28rem;
    font-size: 12rem;
    line-height: 20rem;
    cursor: pointer;
    backface-visibility: hidden;
    color: #959595;
    transition: 0.25s;

    display: block;

    margin: 0 0 30rem;


    &.is-error {
        .ui-check__radio, .ui-check__checkbox {
            border-color: #F1002C;
        }
       
    }

    a {
        display: inline-block;
        vertical-align: top;
        text-decoration: none;
    }

    .ui-check__radio, .ui-check__checkbox {
        position: absolute;
        top: 0;
        left: 0;
    }
    &:hover {
        color: #57595f;
    }

  
}

.ui-check__input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    &:checked ~ .ui-check__radio {
        border-width: 5px;
        border-color: #E30613;
    }
    &:checked ~ .ui-check__checkbox {
        background: #E30613;
        border-color: #E30613;
        color: #fff;
        &:after {
            opacity: 1;
        }
        [class^="icon-"] {
            opacity: 1;
            transform: scale(1);
        }
    }
    &:checked ~ .ui-check__btn {
        background: #fff;
        border-color: #E30613;
        img {
            opacity: 1;
            filter: grayscale(0%);
        }
    }

  

}

.ui-check__radio {
    display: inline-block;
    vertical-align: middle;
    width: 16rem;
    height: 16rem;
    background: none;
    border: 1px solid #CECECE;
    border-radius: 50%;
    transition: 0.25s;
}

.ui-check__checkbox {
    display: inline-block;
    vertical-align: middle;
    width: 20rem;
    height: 20rem;
    border: 1px solid #E1E1E1;
    background: #fff;
    transition: 0.25s;
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        border-right: 2rem solid #fff;
        border-bottom: 2rem solid #fff;
        width: 6rem;
        height: 10rem;
        margin: -6rem 0 0 -3rem;
        transform: rotate(40deg);
    }
    [class^="icon-"] {
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0;
        width: 8rem;
        height: 8rem;
        margin: -4rem 0 0 -4rem;
        transition: opacity 0.25s;
    }
}


.ui-check__btn {
    display: block;
    background: #EEF2F7;
    border: 1px solid #EEF2F7;
    height: 66rem;
    text-align: center;
    padding: 10rem;
    line-height: 44rem;
    transition: 0.25s;

    img {
        display: inline-block;
        vertical-align: middle;
        max-height: 100%;
        filter: grayscale(100%);
        opacity: 0.5;
        transition: 0.25s;
    }
}

// ------

