// --------------------------------------------------------------------------
// Icons
// --------------------------------------------------------------------------

[class^="icon-"], [class*=" icon-"] {
	fill: currentColor;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}


.icon-location {
	width: 16rem;
	height: 16rem;
}


.icon-social-fb {
	width: 9rem;
	height: 18rem;
}

.icon-social-vk {
	width: 20rem;
	height: 12rem;
}

.icon-social-od {
	width: 10rem;
	height: 18rem;
}

.icon-social-yt {
	width: 22rem;
	height: 16rem;
}

.icon-social-im {
	width: 18rem;
	height: 18rem;
}


// -----

.icon-points {
	width: 14rem;
	height: 20rem;
}

.icon-shop {
	width: 17rem;
	height: 15rem;
}


// -----

.icon-basket {
	width: 26rem;
	height: 20rem;
}

.icon-call {
	width: 7rem;
	height: 17rem;
}


// -----


.icon-info-01,
.icon-info-02,
.icon-info-03 {
	fill: none;
	stroke: currentColor;
	stroke-width: 4;
}


.icon-info-01 {
	width: 91rem;
	height: 83rem;
}

.icon-info-02 {
	width: 115rem;
	height: 84rem;
}

.icon-info-03 {
	width: 97rem;
	height: 84rem;
}

.icon-info-arrow {
	width: 15rem;
	height: 26rem;
}

// -----


.icon-arrow-right {
	width: 7rem;
	height: 10rem;
	top: -1rem;
}


.icon-arrow-down {
	width: 10rem;
	height: 7rem;
	top: -1rem;
}


// -----


.icon-partners-01,
.icon-partners-02,
.icon-partners-03 {
	width: 30rem;
	height: 30rem;
}


// -----

.icon-search {
	width: 19rem;
	height: 19rem;
}


// -----

.icon-video {
	width: 64rem;
	height: 48rem;
}


// -----

.icon-services-01,
.icon-services-02,
.icon-services-03,
.icon-services-04 {
	fill: none;
	stroke: currentColor;
	stroke-width: 2.5;
}

.icon-services-01 {
	width: 45rem;
	height: 41rem;
}


.icon-services-02 {
	width: 25rem;
	height: 34rem;
}

.icon-services-03 {
	width: 20rem;
	height: 34rem;
}

.icon-services-04 {
	width: 56rem;
	height: 34rem;
}

// -----


.icon-zoom {
	width: 41rem;
	height: 41rem;
}


.icon-colors-check {
	width: 39rem;
	height: 39rem;
}



// -----


[class^="icon-language-"] {
	width: 16rem;
	height: 11rem;
}



// -----


.icon-views {
	width: 17rem;
	height: 11rem;
	top: -1rem;
}

.icon-comments {
	width: 15rem;
	height: 14rem;
}



// ------


.icon-nav-01 {
	width: 30rem;
	height: 30rem;
}

.icon-nav-02 {
	width: 32rem;
	height: 32rem;
}

.icon-nav-03 {
	width: 30rem;
	height: 30rem;
}

.icon-nav-04 {
	width: 34rem;
	height: 23rem;
}

.icon-nav-05 {
	width: 37rem;
	height: 36rem;
}

.icon-nav-06 {
	width: 22rem;
	height: 31rem;
}