// --------------------------------------------------------------------------
// Lists
// --------------------------------------------------------------------------




.ui-list-ul {
    margin: 0 0 30rem;
    padding: 0;
    list-style: none;

    & > li {
        position: relative;
        padding: 0 0 0 22rem;
        margin: 0 0 20rem;
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 10rem;
            left: 0;
            width: 12rem;
            height: 1rem;
            background: #E50000;
        }
    }
}


.ui-list-arrow {
    & > li {
        padding: 0 0 0 28rem;
        margin: 0 0 24rem;
        &:after {
            top: 8rem;
            background: url(../images/icon-list-arrow.png) 0 0 no-repeat;
            width: 9rem;
            height: 8rem;
        }
    }

    @include breakpointMax(md) {
        & > li {
            padding: 0 0 0 22rem;
        }
    }
}

.ui-list-ol {
    margin: 0 0 30rem;
    padding: 0;
    list-style: none;
    counter-reset: point;
    & > li {
        position: relative;
        padding: 0 0 0 22rem;
        margin: 0 0 20rem;
        &:after {
            content: counter(point) '.';
            counter-increment: point 1;
            position: absolute;
            top: 0;
            left: 0;
            color: #E50000;
        }
    }
}
