// --------------------------------------------------------------------------
// Lists
// --------------------------------------------------------------------------




.ui-ul {
    margin: 0 0 25rem;
    padding: 0;
    list-style: none;
    font-size: 15rem;
    line-height: 20rem;
    color: #606060;
    & > li {
        position: relative;
        padding: 0 0 0 36rem;
        margin: 0 0 10rem;
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 5rem;
            left: 10rem;
            border-radius: 50%;
            width: 9rem;
            height: 9rem;
            background: #12A28F;
        }
    }
}

.ui-ol {
    margin: 0 0 25rem;
    padding: 0;
    list-style: none;
    counter-reset: point;
    font-size: 15rem;
    line-height: 20rem;
    color: #606060;
    & > li {
        position: relative;
        padding: 0 0 0 36rem;
        margin: 0 0 10rem;
        &:after {
            content: counter(point) '.';
            counter-increment: point 1;
            color: #12A28F;
            position: absolute;
            top: 0;
            left: 10rem;
            font-weight: 700;
        }
    }
}
