// --------------------------------------------------------------------------
// Config
// --------------------------------------------------------------------------

// Fonts
$fontBase: 'Proxima Nova', Helvetica, Arial, sans-serif;
$fontSecond: 'DIN Pro Cond', Helvetica, Arial, sans-serif;

// Bg
$baseBg: #F0F0F0;
$baseColor: #000000;
$baseMaxWidth: 1240px;

// Grid
$xs: 420px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$hd: 1440px;

