---
title: Бесшумность - Technonicol
bodyClass: page-article
---
extends includes/_app

block main

	// Article :: Start
	article.article
		.container-fluid

			.article__head

				figure.article__head-image
					img(src="images/img-b-hero.jpg", alt="")

				h1.article__head-title Тихая кровля — здоровый сон

			.article__body

				section.article__section
					.row
						.col-sm-6.push-sm-6.align-self-center
							.article__section-desc
								h2 Бесшумная кровля
								p Гибкая и многослойная черепица ТЕХНОНИКОЛЬ SHINGLAS произведена из природных материалов (природного базальта, битума и стеклохолста). Битум, являясь по своей природе эластичным материалом амортизирует удары капель дождя и града во время осадков, понижая шумовое воздействие на крыше. Крыша с гибкой черепицей не «грохочет». 
						.col-sm-6.pull-sm-6
							figure.article__section-image
								img(src="images/img-b-01.jpg", alt="")

				section.article__section
					.row
						.col-sm-6.align-self-center
							.article__section-desc
								h2 высокий уровень комфорта
								p Более тихая кровля – более высокий уровень комфорта внутри дома. Больше нет необходимости терпеть назойливый шум атмосферных осадков или дополнительно звукоизолировать внутренние помещения дома. За высокий уровень комфорта в доме отвечает гибкая черепица ТЕХНОНИКОЛЬ SHINGLAS. 
						.col-sm-6
							figure.article__section-image
								img(src="images/img-b-02.jpg", alt="")

				section.article__section
					figure.article__section-video
						img(src="images/img-b-03.jpg", alt="")

				section.article__section.bg-white
					.row
						.col-sm-6.push-sm-6.align-self-center
							.article__section-desc
								h2 домовладельцы рекомендуют
								p «По старой кровле дождь барабанил как неугомонный разбойник, а сейчас шума от дождя совсем нет»
								cite
									| Любовь Мокасеева
									small Домовладелец
						.col-sm-6.pull-sm-6
							figure.article__section-image
								img(src="images/img-b-04.jpg", alt="")


				section.article__section.bg-white
					.row
						.col-sm-6.align-self-center
							.article__section-desc
								h2 правильная крыша — защита здорового сна
								p «В нашей семье есть дети, которые от шума дождя просыпались раньше. Сейчас они спять спокойно под новой крышей».
								p «Нам здесь очень хорошо. Тихо, спокойно, уютно. Мы даже не слышим, как капает дождь, когда закрыты окна».
								cite
									| Лейла Смирнова
									small Домовладелец
						.col-sm-6
							figure.article__section-image
								img(src="images/img-b-05.jpg", alt="")

	// Article :: End


	// Other :: Start
	.other
		.container-fluid
			h2.other__heading Узнайте, чем отличается многослойная черепица ТЕХНОНИКОЛЬ SHINGLAS от других кровельных материалов
			.other__slides.js-slick-other

				a(href="#").other__item
					figure.other__item-image
						img(src="images/img-other-01.jpg", alt="")
					.other__item-desc
						h3.other__item-title Многослойность

				a(href="#").other__item
					figure.other__item-image
						img(src="images/img-other-02.jpg", alt="")
					.other__item-desc
						h3.other__item-title Эстетика

				a(href="#").other__item
					figure.other__item-image
						img(src="images/img-other-03.jpg", alt="")
					.other__item-desc
						h3.other__item-title Бесшумность

				a(href="#").other__item
					figure.other__item-image
						img(src="images/img-other-01.jpg", alt="")
					.other__item-desc
						h3.other__item-title Многослойность

				a(href="#").other__item
					figure.other__item-image
						img(src="images/img-other-02.jpg", alt="")
					.other__item-desc
						h3.other__item-title Эстетика

				a(href="#").other__item
					figure.other__item-image
						img(src="images/img-other-03.jpg", alt="")
					.other__item-desc
						h3.other__item-title Бесшумность

	// Other :: End
				




	

	