---
title: Руководство по монтажу - Technonicol
bodyClass: page-inner
---
extends includes/_app

block main

	// Guide :: Start
	.guide
		.container-fluid

			.guide__head

				figure.guide__head-image
					img(src="images/bg-guide.jpg", alt="")

				.guide__head-valign
				
					h1.guide__head-title
						small пластиковая водосточная система
						| руководство по монтажу

					p.guide__head-text основные принципы

					.guide__head-buttons
						a(href="#").btn.btn--63.btn--white-empty
							+sprite('icon-print')
							| распечатать
						a(href="#").btn.btn--63.btn--white-empty
							+sprite('icon-pdf')
							| сохранить

			.guide__body








				.guide__panel
					.row
						.col-sm-6
							.guide__item
								figure.guide__item-image
									img(src="images/img-guide-info-01.jpg", alt="")
						.col-sm-6
							.guide__item
								figure.guide__item-image
									img(src="images/img-guide-info-02.jpg", alt="")
					
					ol
						li Наклон жёлоба к воронке должен быть 10 мм на 3 метра длины жёлоба.
						li Вода с капельника должна попадать в центральную треть жёлоба.
						li Если провести условную линию продолжения кровли, то край кронштейна должен быть ниже на 10 мм.

				












				.guide__panel

					h2.guide__heading поэтапное руководство по монтажу

					h3.guide__subheading
						mark Этап 1
						| Разметка
					
					.guide__item
						.row
							.col-sm-6
								figure.guide__item-image
									img(src="images/img-step-01-01.jpg", alt="")
							.col-sm-6
								.guide__item-desc
									mark 1.1
									p Определите места крайних кронштейнов на карнизе. Отметьте эти места. Край крыши должен находиться от кронштейна на расстоянии не более 150 мм.


					.guide__item
						.row
							.col-sm-6.push-sm-6
								figure.guide__item-image
									img(src="images/img-step-01-02.jpg", alt="")
									.guide__tooltip
										.guide__tooltip-dropdown
											img(src="images/img-tooltip-01-02.jpg", alt="")
											p Водоприёмная воронка
							.col-sm-6.pull-sm-6
								.guide__item-desc
									mark 1.2
									p Определите места установки водосливных воронок. Воронка может располагаться с краю или по центру. Установите кронштейн на противоположной стороне карниза, соблюдая наклон.
									p Установите водосточную воронку напрямую к лобовой доске саморезами через специальные отверстия. В случае отсутствия лобовой доски воронку необходимо установить на удлинители кронштейна.


					.row
						.col-sm-6

							.guide__item
						
								figure.guide__item-image
									img(src="images/img-step-01-03.jpg", alt="")
							
								.guide__item-desc
									mark 1.3
									p Натяните верёвку с необходимым уклоном между крайним кронштейном и воронкой. Ближайшие к воронке кронштейны устанавливайте с каждой стороны элемента на расстоянии 100-150 мм.

						.col-sm-6

							.guide__item
						
								figure.guide__item-image
									img(src="images/img-step-01-04.jpg", alt="")
							
								.guide__item-desc
									mark 1.4
									p Зафиксируйте кронштейны по всей длине карниза с шагом 500-600 мм, начиная от места установки воронки.











				.guide__panel

					h3.guide__subheading
						mark Этап 2
						| Монтаж кронштейнов

					p В ассортименте существует 3 способа крепления кронштейнов:
					

					.guide__group
						.row
							.col-sm-4

								.guide__item
									figure.guide__item-image
										img(src="images/img-step-02-01.jpg", alt="")
										.guide__tooltip
											.guide__tooltip-dropdown
												img(src="images/img-tooltip-02-01.jpg", alt="")
												p  Кронштейн пластиковый
									.guide__item-desc
										p Пластиковый кронштейн к лобовой доске

							.col-sm-4

								.guide__item
									figure.guide__item-image
										img(src="images/img-step-02-02.jpg", alt="")
									.guide__item-desc
										p К стропильным ногам через металлический удлинитель кронштейна боковой (применяется когда монтаж кровли уже закончен).


							.col-sm-4

								.guide__item
									figure.guide__item-image
										img(src="images/img-step-02-03.jpg", alt="")
									.guide__item-desc
										p К стропильным ногам через металлический удлинитель кронштейна прямой (применяется на этапе монтажа кровли).


							.col-lg-8.push-lg-4
								
								p.guide__help В случае, когда шаг кронштейнов не совпадает с шагом деревянных стропил рекомендуется крепить прямой удлинитель кронштейна или металлический кронштейн в ОСП-3, заранее подготовив спло шное основание.

						


				


				





				.guide__panel

					h3.guide__subheading
						mark Этап 3
						| Установка водосточных жёлобов


					.row
						.col-sm-6

							.guide__item
						
								figure.guide__item-image
									img(src="images/img-step-03-01.jpg", alt="")

									.guide__tooltip
										.guide__tooltip-dropdown
											img(src="images/img-tooltip-03-01_1.jpg", alt="")
											p Водоприёмная воронка

									.guide__tooltip
										.guide__tooltip-dropdown
											img(src="images/img-tooltip-03-01_2.jpg", alt="")
											p Водосточный жёлоб 
							
								.guide__item-desc
									mark 3.1
									p Вставьте жёлоба внутрь воронки до обозначенной линии. Соединение желоба с воронкой необходимо производить в направлении «изнутри-наружу»: от внутренней стороны жёлоба (от фасада здания) к внешней до защёлкивания с фиксирующим элементом воронки.

						.col-sm-6

							.guide__item
						
								figure.guide__item-image
									img(src="images/img-step-03-02.jpg", alt="")

									.guide__tooltip
										.guide__tooltip-dropdown
											img(src="images/img-tooltip-03-02_1.jpg", alt="")
											p Водосточный жёлоб 

									.guide__tooltip
										.guide__tooltip-dropdown
											img(src="images/img-tooltip-03-02_2.jpg", alt="")
											p Кронштейн пластиковый
							
								.guide__item-desc
									mark 3.2
									p Установите водосточные жёлоба в кронштейны до защёлкивания с фиксирующими элементом кронштейна. Соединение жёлоба с кронштейном также необходимо производить в направлении «изнутри-наружу».

					
					.guide__item
						.row
							.col-sm-6
								figure.guide__item-image
									img(src="images/img-step-03-03.jpg", alt="")

									.guide__tooltip
										.guide__tooltip-dropdown
											img(src="images/img-tooltip-03-03_1.jpg", alt="")
											p Соединитель жёлоба

									.guide__tooltip
										.guide__tooltip-dropdown
											img(src="images/img-tooltip-03-03_2.jpg", alt="")
											p Водосточный жёлоб 

							.col-sm-6
								.guide__item-desc
									mark 3.3
									p При необходимости соединить два жёлоба установите соединитель жёлоба. Ближайшие к соединителю кронштейны установите с каждой стороны элемента на расстоянии 100-150 мм. Вставьте жёлоб в соединитель жёлоба до обозначенной линии. Соединение жёлоба с кронштейном необходимо производить в направлении «изнутри-наружу».



					.guide__item
						.row
							.col-sm-6.push-sm-6
								figure.guide__item-image
									img(src="images/img-step-03-04.jpg", alt="")
							.col-sm-6.pull-sm-6
								.guide__item-desc
									mark 3.4
									p В случае расположения воронки на краю карниза, чтобы закрыть воронку заглушкой вам необходимо соединить воронку и заглушку отрезком из водосточного жёлоба. Распил жёлоба производите ножовкой с мелкими зубьями с последующей зачисткой среза напильником.















				.guide__panel

					h3.guide__subheading
						mark Этап 4
						| Установка углов, заглушек и защитных решёток жёлоба


					.row
						.col-sm-6

							.guide__item
						
								figure.guide__item-image
									img(src="images/img-step-04-01.jpg", alt="")

									.guide__tooltip
										.guide__tooltip-dropdown
											img(src="images/img-tooltip-04-01.jpg", alt="")
											p Угол универсальный 90°
							
								.guide__item-desc
									mark 4.1
									p Для соединения жёлобов на внешнем или внутреннем углу используйте угол универсальный.

						.col-sm-6

							.guide__item
						
								figure.guide__item-image
									img(src="images/img-step-04-02.jpg", alt="")

								.guide__item-desc
									mark 4.2
									p Если угол поворота кровли не равен 90°, используйте угол жёлоба регулируемый, который состоит из двух элементов и подрезается по месту по отметкам угла поворота, заранее нанесенным на заводе-изготовителе. Соединение дополнительно герметизируйте.

					
					.guide__item
						.row
							.col-sm-6
								figure.guide__item-image
									img(src="images/img-step-04-03.jpg", alt="")

									.guide__tooltip
										.guide__tooltip-dropdown
											img(src="images/img-tooltip-04-03.jpg", alt="")
											p Соединитель жёлоба


							.col-sm-6
								.guide__item-desc
									mark 4.3
									p Установите заглушку в жёлоб до защёлкивания с фиксирующим элементом заглушки.



					.guide__item
						.row
							.col-sm-6.push-sm-6
								figure.guide__item-image
									img(src="images/img-step-04-04.jpg", alt="")
									.guide__tooltip
										.guide__tooltip-dropdown
											img(src="images/img-tooltip-04-04.jpg", alt="")
											p Соединитель жёлоба
							.col-sm-6.pull-sm-6
								.guide__item-desc
									mark 4.4
									p Водосточные жёлоба закройте сверху защитной решёткой для предотвращения засора водосточной системы. Установите решётку в жёлоб до защёлкивания. 



						

				


				.guide__panel

					h3.guide__subheading
						mark Этап 5
						| Установка водосточных труб 


					.row
						.col-sm-6

							.guide__item
						
								figure.guide__item-image
									img(src="images/img-step-05-01.jpg", alt="")

									.guide__tooltip
										.guide__tooltip-dropdown
											img(src="images/img-tooltip-05-01_1.jpg", alt="")
											p Колено трубы 135°

									.guide__tooltip
										.guide__tooltip-dropdown
											img(src="images/img-tooltip-05-01_2.jpg", alt="")
											p Водосточная труба
							

						.col-sm-6
							
							.guide__item
								.guide__item-desc
									mark 5.1
									p В случае наличия карнизного вылета для соединения воронки с водосточной трубой используйте два универсальных колена и отрезок трубы, подрезанный на требуемую длину.


							.guide__item
						
								figure.guide__item-image
									img(src="images/img-step-05-02_1.jpg", alt="")

									.guide__tooltip
										.guide__tooltip-dropdown
											img(src="images/img-tooltip-05-02_1.jpg", alt="")
											p Хомут крепления трубы

								.guide__item-desc
									mark 5.2
									p На нижнее колено <b>обязательно установите хомут.</b>



					p В случае отсутствия карнизного вылета соедините водосточную воронку с трубой. Соединение возможно двумя способами:


					.row
						.col-sm-6

							.guide__item
						
								figure.guide__item-image
									img(src="images/img-step-05-02_2.jpg", alt="")
							
								.guide__item-desc
									p Напрямую соединить воронку с трубой

						.col-sm-6

							.guide__item
						
								figure.guide__item-image
									img(src="images/img-step-05-02_3.jpg", alt="")

									.guide__tooltip
										.guide__tooltip-dropdown
											img(src="images/img-tooltip-05-02_3.jpg", alt="")
											p Соединительная муфта

								.guide__item-desc
									p С помощью соединительной муфты


						.col-sm-6

							.guide__item
						
								figure.guide__item-image
									img(src="images/img-step-05-03_1.jpg", alt="")

									.guide__tooltip
										.guide__tooltip-dropdown
											img(src="images/img-tooltip-05-03_1.jpg", alt="")
											p Хомут крепления трубы

								.guide__item-desc
									mark 5.3
									p Водосточные трубы крепятся к основанию здания при помощи хомута крепления трубы. Шаг хомутов составляет не более 1,5 метров.


						.col-sm-6

							.guide__item
						
								figure.guide__item-image
									img(src="images/img-step-05-03_2.jpg", alt="")

									.guide__tooltip
										.guide__tooltip-dropdown
											img(src="images/img-tooltip-05-03_2.jpg", alt="")
											p Хомут универсальный

								.guide__item-desc
									p В ассортименте существует еще один вид крепления — хомут крепления трубы универсальный, который позволяет крепить водосточные трубы на требуемом для вас расстоянии на любые виды фасадов.
									ul
										li Установите дюбель в несущую часть фасада. Механический крепеж хомута подбирается согласно отступа от фасада, толщины теплоизоляции и должен заходить минимум на 50 мм в несущую конструкцию.
										li Навинтите хомуты на крепления.
										li Затяните хомуты на трубе, не сдавливая слишком сильно.


						.col-sm-6

							.guide__item
						
								figure.guide__item-image
									img(src="images/img-step-05-04.jpg", alt="")

								.guide__item-desc
									mark 5.4
									p Соединение водосточных труб между собой производится при помощи соединительной муфты, которая фиксируется на фасаде при помощи хомутов.

						.col-sm-6

							.guide__item
						
								figure.guide__item-image
									img(src="images/img-step-05-05.jpg", alt="")

									.guide__tooltip
										.guide__tooltip-dropdown
											img(src="images/img-tooltip-05-05.jpg", alt="")
											p Водосточный слив

								.guide__item-desc
									mark 5.5
									p Установите водосточный слив на трубу и зафиксируйте его хомутом. При этом минимальное расстояние слива от грунта должно составлять не менее 150 мм от отмостки.




				








				.guide__panel
					.row
						.col-sm-6
							.guide__item
								figure.guide__item-image
									img(src="images/img-step-06-01.jpg", alt="")
									.guide__tooltip
										.guide__tooltip-dropdown
											img(src="images/img-tooltip-06-01.jpg", alt="")
											p Угол универсальный 90°
						.col-sm-6
							.guide__item
								figure.guide__item-image
									img(src="images/img-step-06-02.jpg", alt="")

					p Если скат кровли заканчивается примыканием к стене, то необходимо установить поворотный отлив. На сплошное основание установите пристенно-поворотный отлив и галтель, механически зафиксируйте их к основанию. Заведите кровельный материал на галтель.

					

	// Guide :: End
	

	// Request :: Start
	.request
		.container-fluid

			h2.request__heading Остались вопросы?

			.request__form
				form(action="").js-validate

					.row
						.col-md-6
							
							.ui-field
								input(type="text" placeholder="Имя").ui-input

							.ui-field
								input(type="email" placeholder="Электронная почта").ui-input

							.ui-field
								input(type="tel" placeholder="+7 ( ___ ) ___ - __ - __").ui-input

						.col-md-6

							.ui-field
								textarea(placeholder="Вопрос").ui-textarea

					label.ui-check
						input(type="checkbox").ui-check__input
						span.ui-check__checkbox
						| согласен с <a href="#">обработкой персональных данных</a>


					button.btn.btn--50.btn--red  отправить

					p.ui-caption Больше способов связи в разделе <a href="#">Обратная связь</a>

	// Request :: End


	

	