---
title: Многослойность - Technonicol
bodyClass: page-article
---
extends includes/_app

block main

	// Article :: Start
	article.article
		.container-fluid

			.article__head.article__head--right

				picture.article__head-image
					source(srcset="images/img-m-hero-320.jpg" media="(max-width: 576px)")
					img(src="images/img-m-hero.jpg", alt="")

				.row
					.col-xl-6.push-xl-6

						h1.article__head-title
							| Многослойность
							small обеспечивает необходимую защиту, долговечность и комфорт

			.article__body

				section.article__section.article__section--100
					.row
								
						.col-sm-6.push-sm-6
							.article__section-desc
								h2 многослойность — это тренд
								p Производители современных строительных материалов активно используют многослойные решения для достижения дополнительной надёжности готовой продукции. Многослойные покрытия уже завоевали рынок отделочных и кровельных материалов. Компания ТЕХНОНИКОЛЬ с высоким вниманием относится к современным трендам в архитектуре и дизайне. Так, коллекцией 2018 года стала новая коллекция трехслойной черепицы «АТЛАНТИКА». 
								a(href="#").btn.btn--50.btn--red подробнее о коллекции «атлантика»
						.col-sm-6.pull-sm-6

							picture.article__section-image.article__section-image--left
								source(srcset="images/img-m-01-320.jpg" media="(max-width: 576px)")
								img(src="images/img-m-01.jpg", alt="")

				section.article__section.article__section--blockquote.article__section--white
						.row
							.col-md-6.push-md-6

								.article__section-user
									figure.article__section-user-image
										img(src="images/img-m-02.jpg", alt="")
									p.article__section-user-caption
										| Дмитрий Глушков
										small Архитектор

							.col-md-6.pull-md-6

								.article__section-desc
									h2 мнение архитектора
									p В нашей работе мы стремимся применять новинки в своих проектах, тем более есть запрос от частных домовладельцев на прогрессивный продукт. Компании ТЕХНОНИКОЛЬ удалось разработать новое решение для скатных кровель, в полной мере соответствующее современным трендам в архитектуре. Трёхслойная черепица АТЛАНТИКА — это не только объемная форма нарезки, но и цвета, позволяющие создавать гармоничные архитектурные решения экстерьера дома и интегрировать строение в окружающий контекст.

				section.article__section.article__section--100
					.row
						.col-sm-6
							figure.article__section-image.article__section-image--left
								img(src="images/img-m-03.jpg", alt="")
								
						.col-sm-6.align-self-center
							.article__section-desc
								h2 Новый слой – новый уровень надёжности
								p Каждый новый слой — это новый уровень надёжности. Многослойная черепица ТЕХНОНИКОЛЬ SHINGLAS представлена двухслойными и трехслойными коллекциями. Многослойность обеспечивается за счёт склеивания нескольких гонтов между собой. Каждый гонт представляет собой стеклохолст, покрытый кровельным битумом и посыпкой из натурального базальта. Чем больше слоёв – тем выше надёжность и долговечность кровли.  Это выбор для тех, кто предпочитает самые качественные архитектурные решения, повышенные стандарты прочности и безопасности.

				section.article__section.article__section--0

					.article__section-full
						figure.article__section-image
							img(src="images/img-m-04.jpg", alt="")
						figure.article__section-image
							img(src="images/img-m-05.jpg", alt="")

				section.article__section.article__section--100
					.row
						.col-sm-6.align-self-center
							.article__section-desc
								h2 Перехлёст – дополнительная многослойность на крыше
								p Многослойная черепица имеет более высокий коэффициент перехлёста, в сравнении с однослойной гибкой черепицей. В коллекциях «Континент» и «Атлантика» он достигает 5.29.  В процессе монтажа многослойная черепица укладывается в нахлёст на нижележащий ряд обеспечивая дополнительное количество слоёв финишного кровельного покрытия на крыше. Таким образом сама технология монтажа многослойной черепицы вкладывает дополнительный запас прочности и надёжности.
						.col-sm-6
							figure.article__section-image.article__section-image--right
								img(src="images/img-m-06.jpg", alt="") 


				section.article__section
					.row
						
						.col-sm-6.push-sm-6.align-self-center
							.article__section-desc
								h2 Многослойность обеспечивает тишину в доме
								p Многослойная черепица обеспечивает дополнительную шумоизоляцию кровли во время дождя и града. Битум, являясь по своей природе эластичным материалом амортизирует удары капель дождя и града во время осадков, понижая шумовое воздействие на крыше. Крыша с гибкой черепицей не «грохочет».
						.col-sm-6.pull-sm-6
							figure.article__section-image.article__section-image--left
								img(src="images/img-m-07.jpg", alt="")

				section.article__section
					h2.article__section-heading Многослойная черепица — залог красивой крыши
					p.article__section-text Многослойная черепица за счёт оптимального сочетания формы нарезки, многослойности и сложной палитры цветов создаёт на крыше объёмную фактуру и подчёркивает архитектурную выразительность всего здания.
					.article__fromto

						.article__fromto-slides.js-slick-fromto

							figure.article__fromto-image
								img(src="images/img-m-08.jpg", alt="")
								figcaption до <small> обновления</small>

							figure.article__fromto-image
								img(src="images/img-m-09.jpg", alt="")
								figcaption после <small> обновления</small>

	// Article :: End


	// Other :: Start
	.other
		.container-fluid
			h2.other__heading Узнайте, чем отличается многослойная черепица технониколь shinglas от других кровельных материалов
			.other__slides.js-slick-other

				a(href="#").other__item
					figure.other__item-image
						img(src="images/img-other-01.jpg", alt="")
					.other__item-desc
						h3.other__item-title Многослойность

				a(href="#").other__item
					figure.other__item-image
						img(src="images/img-other-02.jpg", alt="")
					.other__item-desc
						h3.other__item-title Эстетика

				a(href="#").other__item
					figure.other__item-image
						img(src="images/img-other-03.jpg", alt="")
					.other__item-desc
						h3.other__item-title Бесшумность

				a(href="#").other__item
					figure.other__item-image
						img(src="images/img-other-01.jpg", alt="")
					.other__item-desc
						h3.other__item-title Многослойность

				a(href="#").other__item
					figure.other__item-image
						img(src="images/img-other-02.jpg", alt="")
					.other__item-desc
						h3.other__item-title Эстетика

				a(href="#").other__item
					figure.other__item-image
						img(src="images/img-other-03.jpg", alt="")
					.other__item-desc
						h3.other__item-title Бесшумность

	// Other :: End
				




	

	