---
title: Надёжность - Technonicol
bodyClass: page-article
---
extends includes/_app

block main

	// Article :: Start
	article.article
		.container-fluid

			.article__head.article__head--white

				figure.article__head-image
					img(src="images/img-n-hero.jpg", alt="")

				h1.article__head-title
					| Надёжность
					small в доме — что может быть важнее?

			.article__body

				section.article__section
					.row
						.col-lg-6
							figure.article__section-image
								img(src="images/img-n-01.jpg", alt="")
						.col-lg-6
							.article__section-desc
								h2 Многослойность – гарант надёжности
								p Многослойная черепица состоит из нескольких слоёв сверхпрочного стеклохолста, кровельного битума и базальтовой посыпки, что обеспечивает высокую долговечность и надёжность кровельному покрытию. Кроме того, многослойная черепица имеет более высокий коэффициент перехлёста, в сравнении с однослойной гибкой черепицей В коллекциях «Континент» и «Атлантика» он достигает 5.29.  В процессе монтажа многослойная черепица укладывается в нахлёст на нижележащий ряд обеспечивая дополнительное количество слоёв финишного кровельного покрытия на крыше. Таким образом сама технология монтажа многослойной черепицы вкладывает дополнительный запас прочности и надёжности.

				section.article__section
					.row
						.col-lg-6.push-lg-6
							figure.article__section-image
								img(src="images/img-n-02.jpg", alt="")
								
						.col-lg-6.pull-lg-6
							.article__section-desc
								h2 Надёжный производитель – гарантия качества
								p Корпорация ТЕХНОНИКОЛЬ на протяжении 26 лет выпускает качественные и надёжные строительные материалы, зарекомендовав себя надёжным партнёром и ответственным производителем. Мы уверены в качестве нашей продукции и поэтому предоставляем всем нашим клиентам официальную гарантию на гибкую и многослойную черепицу ТЕХНОНИКОЛЬ SHINGLAS от 20 до 60 лет в зависимости от серии.

				section.article__collage
					img(src="images/img-n-collage-01.png", alt="")
					img(src="images/img-n-collage-02.png", alt="")
					img(src="images/img-n-collage-03.png", alt="")

				section.article__section
					.row
						.col-lg-6
							figure.article__section-image
								img(src="images/img-n-03.jpg", alt="")
						.col-lg-6
							.article__section-desc
								h2 Пожаробезопасный материал
								p В основе гибкой и многослойно черепицы ТЕХНОНИКОЛЬ SHINGLAS лежит стеклохолст (температура плавления стекла от 7600°С), а поверхность черепицы покрыта натуральной базальтовой посыпкой (температура плавления не менее 1100°C). Теплостойкость черепицы ТЕХНОНИКОЛЬ SHINGLAS составляет не менее 110°C), а сам материал обладает самозатухающими свойствами, то есть не поддерживает активное горение.

				section.article__section
					figure.article__section-video
						img(src="images/img-n-04.jpg", alt="")


				section.article__section
					.row
						.col-lg-6.push-lg-6
							figure.article__section-image
								img(src="images/img-n-05.jpg", alt="")
						.col-lg-6.pull-lg-6
							.article__section-desc
								h2 Надёжная гидроизоляция
								p Битум, по своей природе является надёжным гидроизолятором. С давних времён люди применяли природный битум для защиты своего дома от влаги. Современное производство довело до совершенства древние строительные технологии применения битума, соединив надёжные материалы: стеклохолст, кровельный (улучшенный) битум и природный базальт. Сегодня каждому доступно надёжное кровельное покрытие ТЕХНОНИКОЛЬ SHINGLAS с гарантией производителя до 60 лет! 

				section.article__choice
					.row
						.col-lg-6
							img(src="images/img-n-06.jpg", alt="")
							h2 Сделайте правильный выбор в пользу надёжности!
						.col-lg-6
							img(src="images/img-n-07.jpg", alt="")

	// Article :: End


	// Other :: Start
	.other
		.container-fluid
			h2.other__heading Узнайте, чем отличается многослойная черепица технониколь shinglas от других кровельных материалов
			.other__slides.js-slick-other

				a(href="#").other__item
					figure.other__item-image
						img(src="images/img-other-01.jpg", alt="")
					.other__item-desc
						h3.other__item-title Многослойность

				a(href="#").other__item
					figure.other__item-image
						img(src="images/img-other-02.jpg", alt="")
					.other__item-desc
						h3.other__item-title Эстетика

				a(href="#").other__item
					figure.other__item-image
						img(src="images/img-other-03.jpg", alt="")
					.other__item-desc
						h3.other__item-title Бесшумность

				a(href="#").other__item
					figure.other__item-image
						img(src="images/img-other-01.jpg", alt="")
					.other__item-desc
						h3.other__item-title Многослойность

				a(href="#").other__item
					figure.other__item-image
						img(src="images/img-other-02.jpg", alt="")
					.other__item-desc
						h3.other__item-title Эстетика

				a(href="#").other__item
					figure.other__item-image
						img(src="images/img-other-03.jpg", alt="")
					.other__item-desc
						h3.other__item-title Бесшумность

	// Other :: End
				




	

	