---
title: Применение - Technonicol
bodyClass: page-use
---
extends includes/_app

block main

	// Use :: Start
	.use
		.container-fluid

			.use__head

				figure.use__head-image
					img(src="images/bg-use.jpg", alt="")

				h1.use__head-title Применение

			.use__body
				
				.use__grid
					.row
						.col-md-4

							.use__item
								.use__item-equal
									h2.use__item-title ТН-ШИНГЛАС Мансарда
									p.use__item-text Система успешно применяется для устройства мансардного этажа в коттеджном и малоэтажном строительстве. В качестве кровельного покрытия используется гибкая черепица ТЕХНОНИКОЛЬ SHINGLAS. 
									figure.use__item-image
										img(src="images/img-use-01.jpg", alt="")
									.use__item-control
										a(href="#").btn.btn--50.btn--red-empty Подробнее
								.use__item-content
									//- ol
									//- 	li Деревянная стропильная система
									//- 	li Пароизоляционная пленка ТЕХНОНИКОЛЬ
									//- 	li Плиты из каменной ваты ТЕХНОЛАЙТ ЭКСТРА
									//- 	li Мембрана супердиффузионная оптима ТЕХНОНИКОЛЬ
									//- 	li Контрбрус для создания вентканалов
									//- 	li Разреженная обрешетка
									//- 	li Деревянный настил (ОСП-3; ФСФ)
									//- 	li Подкладочный ковер ANDEREP PROF
									//- 	li Многослойная черепица ТЕХНОНИКОЛЬ SHINGLAS, коллекция ДЖАЗ
									//- 	li Шаговая обрешетка под утеплитель
									//- 	li Подшивка мансарды

									h3 Описание системы:
									.row
										.col-lg-6

											p Выбор в пользу строительства мансардного этажа — прекрасный способ наиболее выгодно организовать чердачное пространство, максимально используя весь объем здания. Это наиболее актуально в условиях мегаполиса и больших городов. Благодаря свободной планировке мансарда обладает особым очарованием и предлагает возможность устройства уютных и комфортных интерьеров с учетом индивидуальных предпочтений. Система ТН-ШИНГЛАС Мансарда эффективно применяется для воплощения самых разнообразных кровельных проектов в строительстве мансардного этажа.

											p Все материалы, входящие в систему, произведены на заводах Корпорации ТЕХНОНИКОЛЬ. Гибкая черепица произведена на заводе Шинглас по системе стандарта качества ISO 9001:2015, что гарантирует ее высокие эксплуатационные качества. Все производство полностью автоматизировано, что исключает возможность влияния человеческого фактора на конечный продукт. А само производство в России позволяет предоставить конечному клиенту выгодные цены за счет отсутствия таможенных и логистических расходов.

										.col-lg-6

											p В системе сочетаются привычные технологии строительства и инновационные материалы, обладающие уникальными свойствами. Одной из особенностей системы является применение супердиффузионной мембраны ТЕХНОНИКОЛЬ, расположенной над утеплителем. Мембрана эффективно защищает утеплитель от выдувания частиц каменной ваты, исключает «выветривание» тепла из помещения, а также способствует быстрому удалению водяных паров из толщи утеплителя наружу. Слой пароизоляции, монтаж которого производится со стороны помещения, также сохраняет основные свойства утеплителя при диффузии теплого влажного воздуха, препятствуя образованию конденсата.

											p Применение гибкой черепицы ТЕХНОНИКОЛЬ SHINGLAS в качестве кровельного покрытия позволяет создать неповторимую архитектурную выразительность за счет широкой цветовой гаммы и оригинальных форм нарезки. Кроме того, благодаря специальным свойствам битума гибкая черепица ТЕХНОНИКОЛЬ SHINGLAS при монтаже формирует уникальное однородное покрытие, обеспечивающее абсолютную герметичность системы. Безупречное качество черепицы подтверждает свидетельство компании АО СК«Альянс», страховая сумма которого составляет 20 000 000 рублей. 

									h3 Преимущества системы ТН-ШИНГЛАС Мансарда:

									.row
										.col-lg-6

											ul
												li Возможность эффективно использовать весь объем здания.
												li Легкость и простота монтажа.
												li Возможность применения на любых формах кровли, включая шатровые и луковичные крыши.

										.col-lg-6

											ul
												li Широкий выбор цветовой гаммы и форм нарезки кровельного покрытия.
												li Применяя систему ТН-ШИНГЛАС Мансарда вы создаете оптимальный микроклимат в мансардном помещении, защищая себя от нежелательного шума, холода или изнуряющей жары.
										

						.col-md-4

							.use__item
								.use__item-equal
									h2.use__item-title ТН-ШИНГЛАС Мансарда PIR
									p.use__item-text Система ТН-ШИНГЛАС Мансарда PIR рекомендуется для применения при устройстве крыш зданий высотой не более двух этажей, относящихся к частному домостроению.
									figure.use__item-image
										img(src="images/img-use-02.jpg", alt="")

									.use__item-control
										a(href="#").btn.btn--50.btn--red-empty Подробнее

								.use__item-content

									//- ol
									//- 	li Деревянная стропильная система
									//- 	li Деревянный строганый настил
									//- 	li Пароизоляционная пленка оптима ТЕХНОНИКОЛЬ
									//- 	li Плиты теплоизоляционные LOGICPIR Скатная крыша
									//- 	li Лента алюминиевая самоклеющаяся ЛАС
									//- 	li Контрбрус для создания вентканалов
									//- 	li Разреженная обрешетка
									//- 	li Сплошной деревянный настил (ОСП-3; ФСФ)
									//- 	li Подкладочный ковер ANDEREP PROF
									//- 	li Многослойная черепица ТЕХНОНИКОЛЬ SHINGLAS
									//- 	li Механический крепеж Termoclip WST 5,5

									h3 Описание системы:

									p Теплая сухая мансарда может стать любимым местом в доме с необычным и оригинальным интерьером, где могут разместиться несколько полноценных комнат, пригодных для организации детских игровых зон, делового кабинета или зимнего сада, или даже настоящей лаунж-зоны для отвлечения от бытовых проблем.

									p Особенностью Системы ТН-ШИНГЛАС Мансарда PIR является непрерывный теплоизоляционный контур из легких прочных плит на основе жесткого полиуретана LOGICPIR, смонтированный по поверхности стропильных ног. Прочная алюминиевая пленка, входящая в состав плит LOGICPIR, позволяет отказаться от диффузионной мембраны, т.к. при проклейке стыков плит фольгированным скотчем получается непрерывный и герметичный водонепроницаемый слой, надежно предохраняющий всю конструкцию от увлажнения. Слой пароизоляции, монтируемый со стороны теплого помещения, предотвращает проникновение пара в толщу ограждающих конструкций и предохраняет от появления конденсата внутри системы. Под многослойную черепицу на сплошной настил укладывается подкладочный ковер, который выполняет функцию дополнительной гидроизоляции. В качестве дощатого настила под многослойную черепицу может использоваться ориентировано-стружечная плита (ОСП-3); фанера повышенной влагостойкости (ФСФ) или шпунтованная обрезная доска с относительной влажностью не более 20 %.

									h3 Преимущества системы ТН-ШИНГЛАС Мансарда PIR:

									ul
										li Замкнутый теплоизоляционный контур, не прерываемый стропильными конструкциями.
										li Не требует гидроизоляции и ветрозащиты.
										li Низкий вес конструкции.
										li Уменьшение затрат на отопление (отсутствие мостиков холода при креплении утеплителя).

						.col-md-4

							.use__item
								.use__item-equal
									h2.use__item-title ТН-ШИНГЛАС Классик
									p.use__item-text Система предназначена для устройства холодного чердака на скатных крышах любой сложности и конфигурации. В качестве кровельного покрытия используется <mark>гибкая черепица ТЕХНОНИКОЛЬ SHINGLAS.</mark>
									figure.use__item-image
										img(src="images/img-use-03.jpg", alt="")
									.use__item-control
										a(href="#").btn.btn--50.btn--red-empty Подробнее
								.use__item-content

									//- ol
									//- 	li Деревянная стропильная система
									//- 	li Разреженная обрешетка
									//- 	li Деревянный настил (ОСП-3; ФСФ)
									//- 	li Подкладочный ковер ANDEREP PROF
									//- 	li Многослойная черепица ТЕХНОНИКОЛЬ SHINGLAS


									h3 Описание системы:

									p Комфортное проживание в доме в течение многих лет во многом зависит от качества материалов, используемых в процессе строительства, а также от правильного их сочетания.

									p Система ТН-ШИНГЛАС Классик предлагает широкие возможности для устройства холодного чердака, в том числе при реализации сложных по своей архитектуре кровельных проектов. Абсолютная герметичность системы обеспечивается уникальными свойствами битумной черепицы ТЕХНОНИКОЛЬ SHINGLAS, которая при монтаже образует надежное монолитное покрытие. Кроме того, качество гибкой черепицы ТЕХНОНИКОЛЬ SHINGLAS подтверждено страховым свидетельством компании АО СК«АЛЬЯНС», сумма которого составляет 20 000 000 рублей. Разнообразие форм и широкая цветовая гамма кровельного покрытия позволяют воплощать индивидуальные решения и достигать необычных художественных эффектов.конструкций и предохраняет от появления конденсата внутри системы. Под многослойную черепицу на сплошной настил укладывается подкладочный ковер, который выполняет функцию дополнительной гидроизоляции. В качестве дощатого настила под многослойную черепицу может использоваться ориентировано-стружечная плита (ОСП-3); фанера повышенной влагостойкости (ФСФ) или шпунтованная обрезная доска с относительной влажностью не более 20 %.

									p Автоматизированное производство, многоступенчатый контроль, улучшенное сырье — залог надежности и высокого качества системы, заверенного международным сертификатом ISO 9001:2015, а также другими европейскими и российскими сертификатами. Оптимальное сочетание элементов, отсутствие таможенных пошлин и расходов на транспортировку обеспечивают безусловную экономичность системы. 

									h3 Преимущества системы ТН-ШИНГЛАС Мансарда PIR:

									ul
										li Легкость и удобство монтажа кровельной системы.
										li Абсолютная герметичность кровельного покрытия.
										li Удобство применения на любых формах кровли, даже самых сложных.


				.use__panel
					h2.use__panel-title CARBON ECO БРУСОК
					.row
						.col-md-4

							figure.use__panel-image
								img(src="images/img-use-info-01.jpg", alt="")

						.col-md-8

							ul.use__panel-list.use__panel-list--arrow
								li Повышение тепловой защиты конструкции покрытия на ≈7%, в зависимости условий строительства здания;
								li Уменьшение толщины стропил со стандартных 200 мм, до 150 мм (если обеспечивается снеговая нагрузка) без потерь теплозащиты крыши, за счет этого достигается экономия капитальных затрат до 4 % на устройство крыши*;
								li Позволяет отказаться от контрутепления крыши.

					.row
						.col-md-5.push-md-7

							figure.use__panel-image
								img(src="images/img-use-info-02.jpg", alt="")

						.col-md-7.pull-md-5

							h3.use__panel-subtitle Область применения

							ul.use__panel-list
								li Применяются для повышения энергоэффективности конструкции скатной крыши, укладываются поверх стропил. Также применение брусков повышает долговечность стропил за счет снижения увлажнения верхней его части.
								li Представляет собой бруски из экструзионного пенополистирола высокой прочности размером сечения 50х50 мм и длиной 1180 мм. 




					

	// Use :: End



	

	