// --------------------------------------------------------------------------
// Header
// --------------------------------------------------------------------------

.header {
	position: relative;
	z-index: 1000;
	background: #fff;
}


.header__panel {
	&--top {
		background: #414042;
		height: 40px;

		@include breakpointMax(md) {
			display: none;
		}
	}
	&--middle {
		border-bottom: 1px solid #EBEBEB;
		padding: 20rem 0;

		@include breakpointMax(md) {
			padding: 10rem 0;
			.container-fluid {
				padding-right: 70rem;
			}
		}
	}
	&--bottom {
		border-bottom: 1px solid #E6E6E6;
		@include breakpointMax(md) {
			border: none;
		}
	}
	.container-fluid {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}


// -----

.header__language,
.header__location {
	position: relative;
	margin: 0 12rem 0 0;
}

.header__language-trigger,
.header__location-trigger {
	display: inline-block;
	vertical-align: top;
	position: relative;
	border: none;
	background: none;
	padding: 0 28rem 0 0;
	
	font: 400 12rem/40rem $fontBase;
	white-space: nowrap;

	color: #b7b7b7;

	cursor: pointer;

	transition: 0.25s;

	img {
		display: inline-block;
		vertical-align: middle;
	}
	[class^="icon-"] {
		top: -1rem;
		margin: 0 10rem 0 0;
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		right: 10rem;
		border-left: 3.5rem solid transparent;
		border-right: 3.5rem solid transparent;
		border-top: 4rem solid #959595;
		transition: inherit;
		margin: -2rem 0 0;
	}
	&:hover {
		color: #fff;
		&:after {
			border-top-color: #fff;
		}
	}
}

.header__language-dropdown {
	position: absolute;
	top: 100%;
	left: -30rem;
	width: 380rem;
	background: #414042;
	border-top: 1px solid #474648;
	z-index: 100;

	transition: 0.25s;
	opacity: 0;
	visibility: hidden;

	@include breakpointMax(md) {
		left: 0;
		right: 0;
		width: auto;
		padding: 0 0 0 20rem;
	}
}

.header__language-menu {
	margin: 0 -1px -1px 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	font-size: 12rem;
	line-height: 18rem;
	font-weight: 400;
	& > li {
		width: 50%;
		margin: 0;
		padding: 0 1px 1px 0;
	}
}

.header__language-link {
	display: block;
	position: relative;
	padding: 15rem 20rem 15rem 58rem;
	color: #b7b7b7;
	text-decoration: none;
	transition: 0.25s;
	img, [class^="icon-"] {
		display: block;
		position: absolute;
		top: 50%;
		left: 30rem;
		transform: translate(0,-50%);
	}
	&:hover, &.is-active {
		background: #525153;
		color: #fff;
		text-decoration: none;
	}
}


.is-open .header__language-dropdown {
	opacity: 1;
	visibility: visible;
}

// -----


.header__social {
	flex: 1;
	display: flex;
	justify-content: center;

	@include breakpointMax(md) {
		display: none;
	}
}

.header__social-link {
	display: block;
	line-height: 40rem;
	padding: 0 14rem;
	text-decoration: none;
	color: #A0A0A1;
	transition: 0.25s;
	&:hover {
		text-decoration: none;
		color: #fff;
	}
}

// -----


.header__phone {
	font-size: 18rem;
	line-height: 40rem;
	font-weight: 400;
	margin: 0 0 0 auto;
	color: #b7b7b7;
	white-space: nowrap;
}

.header__phone-text {
	margin: 0;
	display: inline-block;
	vertical-align: top;
	font-size: 11rem;
	margin: 0 28rem 0 0;

	@include breakpointMax(lg) {
		display: none;
	}
}

.header__phone-link {
	margin: 0;
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: #b7b7b7;
	transition: 0.25s;
	&:hover {
		text-decoration: none;
		color: #fff;
	}
}


// -----


.header__logo {
	width: 205rem;
	height: 34rem;
	line-height: 34rem;
	img {
		display: inline-block;
		vertical-align: middle;
	}

	@include breakpointMax(lg) {
		max-width: 160rem;
	}
}


// -----


.header__links {
	flex: 1;
	display: flex;
	justify-content: center;

	font-size: 11rem;
	line-height: 34rem;
	font-weight: 600;
	text-transform: uppercase;

	letter-spacing: 0.4rem;

	white-space: nowrap;

	@include breakpointMax(md) {
		display: none;
	}
}


.header__links-item {
	display: block;
	text-decoration: none;
	color: #7d7d7d;
	transition: 0.25s;
	margin: 0 28rem;
	[class^="icon-"] {
		margin: 0 10rem 0 0;
		color: #E30613;
	}
	&:hover {
		color: #E30613;
		text-decoration: none;
	}
	@include breakpointMax(lg) {
		margin: 0 10rem;
	}
}


// -----


.header__basket {
	position: relative;
	padding: 0 0 0 40rem;
	min-height: 30rem;
	display: flex;
	align-items: center;

	text-decoration: none;
	white-space: nowrap;

	font: 600 13rem/17rem $fontBase;
	color: #e30613;

	margin: 0 0 0 auto;

	small {
		display: block;
		font-size: 11rem;
		line-height: 17rem;
		font-weight: 400;
		color: #898989;
	}

	&:hover {
		text-decoration: none;
	}

	@include breakpointMax(md) {
		display: none;
	}
}

.header__basket-icon {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0,-50%);
	width: 30rem;
	display: flex;
	align-items: center;
	justify-content: center;
	mark {
		position: absolute;
		top: -16rem;
		left: 50%;
		background: #E30613;
		color: #fff;
		font-size: 9rem;
		line-height: 17rem;
		width: 17rem;
		text-align: center;
		border-radius: 50%;
		margin: 0 0 0 -6rem;
	}

}

.header__basket-price {
	margin: 0;
}

// -----

.header__call {
	margin: 0 0 0 40rem;
	.btn {
		white-space: nowrap;
		[class^="icon-"] {
			top: -1rem;
			margin: 0 15rem 0 0;
		}
	}

	@include breakpointMax(lg) {
		margin: 0 0 0 20rem;
	}

	@include breakpointMax(md) {
		display: none;
	}
}

// -----


.is-nav-open {
	.header__nav-trigger {
		span {
			&:nth-child(1) {
				transform: rotate(45deg);
			}
			&:nth-child(2) {
				opacity: 0;
				transform: scaleX(0);
			}
			&:nth-child(3) {
				transform: rotate(-45deg);
			}
		}
	}

	.header__nav-content {
		opacity: 1;
		visibility: visible;
	}
}


.header__nav {
	width: 100%;
}

.header__nav-trigger {
	display: none;
	@include breakpointMax(md) {
		border: none;
		background: none;
		padding: 0;
		display: block;
		position: absolute;
		top: 50%;
		right: 20rem;
		width: 30rem;
		height: 22rem;
		margin: -11rem 0 0;
		cursor: pointer;
		span {
			display: block;
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: 4rem;
			background: #E30613;
			transition: 0.25s;
			margin: -2rem 0 0;
			&:nth-child(1) {
				transform: translate(0,-9rem);
			}
			&:nth-child(2) {
				transform-origin: 0 0;
			}
			&:nth-child(3) {
				transform: translate(0,9rem);
			}
 		}
	}
}

.header__nav-content {
	@include breakpointMax(md) {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background: #fff;
		padding: 0;
		box-shadow: 0 15rem 15rem rgba(0, 0, 0, 0.1);

		transition: 0.25s;

		opacity: 0;
		visibility: hidden;
	}
}

.header__nav-menu {
	margin: 0 -20rem;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
	
	font-size: 13rem;
	line-height: 20rem;
	font-weight: 600;
	text-transform: uppercase;

	position: relative;

	& > li {
		padding: 0 20rem;
	}

	&--sub {
		font-weight: 400;
		margin: 0;
		& > li {
			position: relative;
			&:after {
				content: '';
			    position: absolute;
			    top: 50%;
			    left: 0;
			    margin-top: -3.5px;
			    width: 8px;
			    height: 7px;
			    background: url(../images/icon-subnav-arrow.svg) 0 0 no-repeat;
			}
		}
		
	}

	@include breakpointMax(md) {
		flex-wrap: wrap;
		margin: 0;
		position: static;
		margin: -1rem 0 0;
		
		& > li {
			width: 100%;
			border-top: 1px solid #E5E5E5;
			padding: 0;
		}

		&--sub {
			text-transform: none;
			& > li {
				border: none;
				&:after {
					left: 20rem;
				}
			}
		}
	}

	@include breakpoint(md) {
		
		.header__nav-menu {
			flex-wrap: wrap;
			text-transform: none;

			.header__nav-link {
				padding: 5rem 0;
			}

		}


	}
}

.header__nav-link {
	position: relative;
	display: block;
	text-decoration: none;
	padding: 15rem 0;
	color: #000;
	transition: 0.25s;

	&--arrow {
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			right: 32rem;
			transform: translate(0,-50%);
			color: #E30613;
			
			width: 7rem;
			height: 11rem;
			background: url(../images/icon-nav-arrow.svg) 0 0 no-repeat;
			background-size: contain;
			@include breakpoint(md) {
				display: none;
			}

		}
	}

	&:hover {
		text-decoration: none;
		color: #E30613;
	}
	@include breakpointMax(md) {
		padding: 15rem 20rem 15rem 50rem;
		&:hover, &.is-active {
			background: #F3F3F3;
			color: #e30613;
		}
	}
}










.is-open > .header__nav-dropdown {
	opacity: 1;
	visibility: visible;
	transform: translate(0,0);
}



.header__nav-dropdown {

	@include breakpointMax(md) {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		background: #fff;
		z-index: 100;

		transition: 0.25s;
		transform: translate(100%,0);
		opacity: 0;
		visibility: hidden;
	}

	@include breakpoint(md) {

		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;

		transition: 0.25s;
		opacity: 0;
		visibility: hidden;

		padding: 15rem 20rem;

		margin: -1rem 0 0;

		display: flex;
		justify-content: center;

		z-index: 1000;

		background: #fff;

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 50%;
			bottom: 0;
			width: 120vw;
			
			margin: 0 0 0 -60vw;

			background: #fff;
			box-shadow: 0 10rem 25rem rgba(0, 0, 0, 0.2);

			z-index: -1;

		}


		.header__nav-dropdown {
			opacity: 1;
			visibility: visible;
			position: relative;
			top: 0;
			left: 0;
			display: block;
			padding: 0;
			&:after {
				display: none;
			}
		}
	}

}


.header__nav-group {
	width: 25%;
	flex: 1;
	text-align: left;
	padding: 0 20rem;
	margin: 10rem 0;
	padding: 0 20rem;
	border-right: 1px solid #e5e5e5;
	&:first-child {
		padding-left: 0;
	}
	&:last-child {
		padding-right: 0;
		border: none;
	}

	@include breakpointMax(md) {
		padding: 0;
		margin: 0;
		border: none;
		width: 100%;
		.header__nav-menu {
		
			.header__nav-menu {
				padding: 10rem 0;
				& > li {
					border: none;
				}

				.header__nav-menu {
					padding: 0;
					& > li {
						margin: 0;
					}
				}

				.header__nav-link {
					padding-top: 7rem;
					padding-bottom: 7rem;
				}
			}
			

		}

		
	}

	@include breakpoint(md) {
		.header__nav-menu {
			justify-content: flex-start;
			text-transform: uppercase;
			display: block;
			padding: 0 0 10rem;

			.header__nav-menu {
				text-transform: none;
			}
		}
	}
}

.header__nav-back {
	display: block;
	padding: 15rem 20rem 15rem 50rem;
	color: #e30613;
	text-decoration: none;
	position: relative;
	cursor: pointer;
	
	border-bottom: 1px solid #E5E5E5;
	[class^="icon-"] {
		position: absolute;
		top: 50%;
		left: 24rem;
		transform: translate(0,-50%);
	}
	&:hover {
		color: #e30613;
		text-decoration: none;
	}
	
	@include breakpoint(md) {
		display: none;
	}
}





// ------


.header__nav-panel {
	&--white {
		background: #fff;
	}
	&--dark {
		background: #414042;
	}

	@include breakpointMax(md) {


		.header__links {
			display: block;
			padding: 15rem 20rem 15rem 50rem;
			line-height: 48rem;
		}

		.header__links-item {
			position: relative;
			padding: 0 0 0 24rem;

			[class^="icon-"] {
				position: absolute;
				top: 50%;
				left: 0;
				transform: translate(0,-50%);
				margin: 0;
			}
			
		}

		// -----

		.header__basket {
			display: block;
			margin: 0 20rem 20rem 50rem;
		}

		// -----

		.header__call {
			margin: 0;
			padding: 0 20rem 30rem;
			display: block;
			.btn {
				width: 100%;
				padding: 12rem 20rem;
			}
		}

		// -----

		.header__language {
			border-bottom: 1px solid #676668;
			margin: 0;
			padding: 0 0 0 50rem;
		}

		.header__language-trigger {
			line-height: 46rem;
		}

		// -----

		.header__location {
			border-bottom: 1px solid #676668;
			margin: 0;
			padding: 0 0 0 50rem;
		}

		.header__location-trigger {
			line-height: 46rem;
		}

		// -----

		.header__social {
			display: flex;
			padding: 5rem 20rem;
		}

		// -----

		.header__phone {
			padding: 0 20rem 20rem 50rem;
			line-height: 30rem;
		}


		.header__phone-text {
			display: block;
			line-height: 20rem;
		}
	}
}