.cart-container {
  * {
    box-sizing: content-box;
  }
  .row{
    display: block;
    margin-left: 0;
    margin-right: 0;
    flex-wrap: nowrap;
  }
}

table {
  clear: none;
  .collection__table{
    clear: both;
  }
}

.feature-togglers * {
  box-sizing: content-box;
}

.gallery__item{
  font-size: 0;
  &::before{
    display: none;
  }
  img{
    position: static;
  }
}

/*  #330143 */
.catalog-section-page .section-product-part .item{
  flex-wrap: wrap;
}
.catalog-section-page .section-product-part .item .detail-item-part{
  flex: 1 1 auto;
}
.catalog-section-page .section-product-part .item .detail-item-part .price-item-part{
  box-sizing: content-box;
}
.catalog-section-page .section-product-part .newbanner *{
  box-sizing: content-box;
}
.catalog-section-page .section-product-part .newbanner{
  width: 100%;
}

.features * {
  box-sizing: content-box;
}

.projects-page .variants .item{
  width: 95px !important;
}
