// .icon {
// 	display: inline-block;
// 	width: 1em;
// 	height: 1em;
// 	fill: currentColor;
// }

.icon-add {
	display: inline-block;
	vertical-align: middle;
	width: 23rem;
	height: 21rem;
}
.icon-arrow-down {
	display: inline-block;
	vertical-align: middle;
	width: 10rem;
	height: 7rem;
}
.icon-arrow-right {
	display: inline-block;
	vertical-align: middle;
	width: 7rem;
	height: 10rem;
}
.icon-back {
	display: inline-block;
	vertical-align: middle;
	width: 7.343rem;
	height: 11.344rem;
}
.icon-basket {
	display: inline-block;
	vertical-align: middle;
	width: 64rem;
	height: 51rem;
}
.icon-call {
	display: inline-block;
	vertical-align: middle;
	width: 10.06rem;
	height: 25.04rem;
}
.icon-close {
	display: inline-block;
	vertical-align: middle;
	width: 15rem;
	height: 15rem;
}
.icon-colors-check {
	display: inline-block;
	vertical-align: middle;
	width: 39rem;
	height: 39rem;
}
.icon-info-01 {
	display: inline-block;
	vertical-align: middle;
	width: 118.15rem;
	height: 109.63rem;
}
.icon-info-02 {
	display: inline-block;
	vertical-align: middle;
	width: 150.67rem;
	height: 110.84rem;
}
.icon-info-03 {
	display: inline-block;
	vertical-align: middle;
	width: 126.51rem;
	height: 110.83rem;
}
.icon-info-arrow {
	display: inline-block;
	vertical-align: middle;
	width: 15rem;
	height: 26rem;
}
.icon-language-bgr {
	display: inline-block;
	vertical-align: middle;
	width: 16rem;
	height: 11rem;
}
.icon-language-cze {
	display: inline-block;
	vertical-align: middle;
	width: 16rem;
	height: 11rem;
}
.icon-language-deu {
	display: inline-block;
	vertical-align: middle;
	width: 16rem;
	height: 11rem;
}
.icon-language-eng {
	display: inline-block;
	vertical-align: middle;
	width: 16rem;
	height: 11rem;
}
.icon-language-est {
	display: inline-block;
	vertical-align: middle;
	width: 16rem;
	height: 11rem;
}
.icon-language-hun {
	display: inline-block;
	vertical-align: middle;
	width: 16rem;
	height: 11rem;
}
.icon-language-ita {
	display: inline-block;
	vertical-align: middle;
	width: 16rem;
	height: 11rem;
}
.icon-language-kz {
	display: inline-block;
	vertical-align: middle;
	width: 16rem;
	height: 11rem;
}
.icon-language-ltu {
	display: inline-block;
	vertical-align: middle;
	width: 16rem;
	height: 11rem;
}
.icon-language-lva {
	display: inline-block;
	vertical-align: middle;
	width: 16rem;
	height: 11rem;
}
.icon-language-pol {
	display: inline-block;
	vertical-align: middle;
	width: 16rem;
	height: 11rem;
}
.icon-language-rou {
	display: inline-block;
	vertical-align: middle;
	width: 16rem;
	height: 11rem;
}
.icon-language-ru {
	display: inline-block;
	vertical-align: middle;
	width: 16rem;
	height: 11rem;
}
.icon-language-svn {
	display: inline-block;
	vertical-align: middle;
	width: 16rem;
	height: 11rem;
}
.icon-language-tur {
	display: inline-block;
	vertical-align: middle;
	width: 16rem;
	height: 11rem;
}
.icon-language-ua {
	display: inline-block;
	vertical-align: middle;
	width: 16rem;
	height: 11rem;
}
.icon-location {
	display: inline-block;
	vertical-align: middle;
	width: 45.78rem;
	height: 64.66rem;
}
.icon-nav-arrow {
	display: inline-block;
	vertical-align: middle;
	width: 7rem;
	height: 11rem;
}
.icon-partners-01 {
	display: inline-block;
	vertical-align: middle;
	width: 30rem;
	height: 30rem;
}
.icon-partners-02 {
	display: inline-block;
	vertical-align: middle;
	width: 30rem;
	height: 30rem;
}
.icon-partners-03 {
	display: inline-block;
	vertical-align: middle;
	width: 30rem;
	height: 30rem;
}
.icon-points {
	display: inline-block;
	vertical-align: middle;
	width: 45.78rem;
	height: 64.66rem;
}
.icon-search {
	display: inline-block;
	vertical-align: middle;
	width: 21.5rem;
	height: 21.5rem;
}
.icon-services-01 {
	display: inline-block;
	vertical-align: middle;
	width: 74.92rem;
	height: 68.17rem;
}
.icon-services-02 {
	display: inline-block;
	vertical-align: middle;
	width: 40.83rem;
	height: 57.07rem;
}
.icon-services-03 {
	display: inline-block;
	vertical-align: middle;
	width: 33.95rem;
	height: 55.82rem;
}
.icon-services-04 {
	display: inline-block;
	vertical-align: middle;
	width: 94.21rem;
	height: 57.23rem;
}
.icon-shop {
	display: inline-block;
	vertical-align: middle;
	width: 225rem;
	height: 193rem;
}
.icon-social-fb {
	display: inline-block;
	vertical-align: middle;
	width: 9.66rem;
	height: 18.6rem;
}
.icon-social-im {
	display: inline-block;
	vertical-align: middle;
	width: 18.82rem;
	height: 18.82rem;
}
.icon-social-od {
	display: inline-block;
	vertical-align: middle;
	width: 10.67rem;
	height: 18.41rem;
}
.icon-social-vk {
	display: inline-block;
	vertical-align: middle;
	width: 21.78rem;
	height: 12.94rem;
}
.icon-social-yt {
	display: inline-block;
	vertical-align: middle;
	width: 24rem;
	height: 16.86rem;
}
.icon-subnav-arrow {
	display: inline-block;
	vertical-align: middle;
	width: 8rem;
	height: 7rem;
}
.icon-video {
	display: inline-block;
	vertical-align: middle;
	width: 64rem;
	height: 48rem;
}
.icon-zoom {
	display: inline-block;
	vertical-align: middle;
	width: 41rem;
	height: 41rem;
}

